/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles fall backs for old browsers
 */

.js-warning {
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 90000;
  margin-left: -190px;
  padding: 10px;
  width: 380px;
  border: 0.2rem solid #e21;
  border-radius: 0.8rem;
  background: #fff;
  box-shadow: 0.5rem 0.5rem 10px #333;
  color: #e21;
  text-align: left;
  text-transform: none;
  font-weight: $fontWeightNormal;
  font-style: $fontStyleNormal;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.95;
}

// Old browser warning
#browser-status {
  position: fixed;
  top: 80px;
  left: 20%;
  right: 20%;
  background: #dc3228;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border: 1px solid #0a0a0a;
  z-index: 10999;
  width: 60%;

  .ie6 & {
    width: 166%;
  }

  p {
    margin: 0 auto;
    padding: 1em 1em 1em 2em;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
  }
}

.logged-in #browser-status {
  padding-top: 40px;
}