/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles custom fonts
 */

@font-face {
  font-family: 'Source Sans Pro';
  src: url('#{$font-url}sourcesanspro-regular.woff2') format('woff2'),
  url('#{$font-url}sourcesanspro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('#{$font-url}sourcesanspro-italic.woff2') format('woff2'),
  url('#{$font-url}sourcesanspro-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('#{$font-url}sourcesanspro-semibold.woff2') format('woff2'),
  url('#{$font-url}sourcesanspro-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('#{$font-url}sourcesanspro-semibolditalic.woff2') format('woff2'),
  url('#{$font-url}sourcesanspro-semibolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}