/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles SCSS mixins
 */

/* Typography
   --------------------------------------------------- */

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

/* Links
   --------------------------------------------------- */

@mixin color-link-states($link:$colorTextLink, $visited:$colorTextLinkVisited, $hover:$colorTextLinkHover, $focus:$colorTextLinkFocus, $active:$colorTextLinkActive, $transition:$transitionSpeed) {

  & {
    transition: color $transition linear;

    &:link {
      color: $link;
    }

    &:visited {
      color: $visited;
    }

    &:hover {
      color: $hover;
    }

    &:focus {
      outline: 1px dashed $focus;
    }

    &:focus:not(:focus-visible) {
      outline: 0;
    }

    &:focus-visible {
      outline: 1px dashed $focus;
    }

    &:active {
      color: $active;
    }
  }
}

/* Tools
   --------------------------------------------------- */

// Eliminate FOUT with Google Web Font Loader API
//.wf-loading {
//  visibility: hidden;
//}

@function url-friendly-color($color) {
  @return '%23' + str-slice('#{$color}', 2, -1)
}

// Clearfix
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// Hide text
@mixin hide-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
}

// Translucent screen overlay
@mixin overlay-screen($opacity: 0.25, $color: $colorShadow) {
  &:before {
    content: '';
    background: rgba($color, $opacity);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 600;
    transition: $transitionSpeed background-color ease;
    @include fadeIn();
  }
}

@mixin menu-open {
  transition: 0.2s opacity;
  opacity: 1;
  visibility: visible;
  display: block;
}

@mixin menu-closed {
  transition: 0.2s opacity;
  opacity: 0;
  visibility: hidden;
  display: none;
}

// Fades element in
@mixin keyframe-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  @include keyframe-fadeIn;
}

@mixin fadeIn( $time: 0.5s ) {
  $keyframe-name: fadeIn;
  $duration: $time;
  animation: $keyframe-name $duration;
}

// Full-width element
:root {
  --fullWidthNoScrollbar: calc(100vw - var(--scrollbarWidth));
  --fullWidthNoScrollbarNeg: calc(-100vw + var(--scrollbarWidth));
}

@mixin align-full {
  margin-left: calc(var(--fullWidthNoScrollbarNeg) / 2 + 100% / 2);
  margin-right: calc(var(--fullWidthNoScrollbarNeg) / 2 + 100% / 2);
  max-width: calc(var(--fullWidthNoScrollbar));
  width: auto;
}

/* Forms
   --------------------------------------------------- */

// Block level inputs
@mixin input-block-level {
  display: block;
  width: 100%;
  min-height: 3rem;
  // Make inputs at least the height of their button counterpart
  @include box-sizing(border-box);
  // Makes inputs behave like true block-level elements
}

/* CSS Arrows
   --------------------------------------------------- */

/*
USAGE:
Insert a div with the class of the element this mixin is applied to.
<div class="arrow-up"></div>
*/

@mixin arrow-up($color: $colorTextMain, $size: 1rem) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $color;
}

@mixin arrow-down($color: $colorTextMain, $size: 1rem) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
}

@mixin arrow-right($color: $colorTextMain, $size: 1rem) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: $size solid $color;
}

@mixin arrow-left($color: $colorTextMain, $size: 1rem) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: $size solid $color;
}

/* Special FX
   --------------------------------------------------- */

// Circle background
@mixin circle($width: 100px, $color: $colorBackSidebar) {
  width: $width;
  height: $width;
  background: $color;
  position: relative;
  display: block;
  border-radius: $width;
}

// Blurry text
@mixin blurry {
  color: transparent;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

// Fancy horizontal rule
@mixin hr-fancy($color: $colorBorder) {
  background-image: linear-gradient(to right, rgba($color, 0), rgba($color, 0.85), rgba($color, 0));
}

// Prevent user being able to select content
@mixin unselectable {
  -webkit-touch-callout: none;
  user-select: none;
}