/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Sets SCSS variables
 */

/* Colors
   --------------------------------------------------- */

// Color Palette
$teal: #00637a;
$aqua: #77d1e6;
$warmGrayLight: #ebe7e0;
$choco: #615742;
$orange: #f26a13;

$image-url: '../images/';
$font-url: '../fonts/';

$colorTextMain: #333;
$colorBackMain: #fff;

$colorTextHead: #555;
$colorTextReverse: #fff;

$colorTextLink: #00637a;
$colorTextLinkVisited: lighten($colorTextLink, 10%);
$colorTextLinkHover: #f26a13;
$colorTextLinkFocus: $colorTextLinkHover;
$colorTextLinkActive: $colorTextLinkHover;
$colorLinkAccent: lighten($colorTextLinkHover, 20%);

$colorTextLinkReverse: #77d1e6;
$colorTextLinkReverseVisited: lighten($colorTextLinkReverse, 10%);
$colorTextLinkReverseHover: #f26a13;
$colorTextLinkReverseFocus: $colorTextLinkReverseHover;
$colorTextLinkReverseActive: $colorTextLinkReverseHover;

$colorTextMasthead: #333;
$colorBackMasthead: #eee;

$colorTextSidebarHead: #444;
$colorTextSidebar: #333;
$colorBackSidebar: #ddd;
$colorBorderSidebar: #ccc;

$colorTextFooter: #bbb;
$colorTextLinkFooter: $colorTextLinkReverse;
$colorTextLinkHoverFooter: $colorTextLinkReverseHover;
$colorBackFooter: #666;
$colorBackSubfooter: #ccc;

$colorTextBlockquote: #333;
$colorBackBlockquote: #ddd;
$colorAccentBlockquote: #00637a;

$colorTextCallout: #111;
$colorBackCallout: #ddd;
$colorBorderCallout: #888;

$colorBackCard: #eee;
$colorBackCardLight: #efefef;

$btnPrimaryColor: $colorTextLink;
$btnActiveColor: $colorTextLinkHover;
$btnBorderRadius: 0.1rem;

$colorTextMeta: #888;
$colorTextTimestamp: #888;
$colorTextCaption: #555;
$colorBackCaption: #eee;

$colorTextHighlight: #c00;
$colorBackHighlight: #dedede;

$colorTextCrumbs: #666;

$colorShadow: #000;
$colorBorder: #cdcdcd;

$formInputFontSize: 1rem;
$formInputPadding: 0.7rem;
$colorTextFormInput: #666;
$colorBackFormInput: #efefef;
$colorTextPlaceholder: #888;
$borderRadiusInput: 0.1rem;

$transitionSpeed: 0.3s;

$colorBackTable: transparent;
$tableCellPadding: 0.4rem;
$tableCondensedCellPadding: 0.2rem;
$colorAccentTable: #f9f9f9;
$colorBackTableHover: whitesmoke;
$colorBorderTable: #bbb;
$colorBackTableReversed: #666;

$contentWidth: 45rem;

/* Typography
   --------------------------------------------------- */

$fontFamilySans: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', 'Helvetica Neue', Helvetica, Cantarell, Ubuntu, Roboto, Noto, Arial, sans-serif;
$fontFamilySerif: Georgia, 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif;
$fontFamilyMono: 'Fira Code', Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
$fontFamilySystem: system-ui, -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', 'Helvetica Neue', Helvetica, Cantarell, Ubuntu, Roboto, Noto, Arial, sans-serif;
$fontFamilyCursive: cursive;

$fontFamilyBase: $fontFamilySans;

$fontWeightBold: 600;
// $fontWeightSemiBold: 600;
$fontWeightNormal: 400;

$fontStyleItalic: italic;
$fontStyleNormal: normal;

$fontFamilyHead: inherit;
$fontWeightHead: $fontWeightBold;

/**
 * Modular scale balanced type sizes
 * @link https://www.modularscale.com/?1&rem&1.125
 *
 * +16 = 6.583rem
 * +15 = 5.852rem
 * +14 = 5.202rem
 * +13 = 4.624rem
 * +12 = 4.11rem
 * +11 = 3.653rem
 * +10 = 3.247rem
 * +9  = 2.887rem
 * +8  = 2.566rem
 * +7  = 2.281rem
 * +6  = 2.027rem
 * +5  = 1.802rem
 * +4  = 1.602rem
 * +3  = 1.424rem
 * +2  = 1.266rem
 * +1  = 1.125rem
 *  0  = 1rem
 * -1  = 0.889rem
 * -2  = 0.79rem
 * -3  = 0.702rem
 * -4  = 0.624rem
 * -5  = 0.555rem
 * -6  = 0.493rem
 */

$fontSizeBase: 1.125rem;
$lineHeightBase: 1.5;

$fontSizeSmall: 0.889rem;
$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.424rem;
$fontSizeLarge: 1.802rem;
$fontSizeHuge: 2.887rem;

$fontSizeP: $fontSizeBase;

$fontSizeH1: $fontSizeHuge;
$fontSizeH2: 2.281rem;
$fontSizeH3: $fontSizeLarge;
$fontSizeH4: 1.602rem;
$fontSizeH5: $fontSizeMedium;
$fontSizeH6: 1.266rem;

/* Navigation Menu
   --------------------------------------------------- */

$colorTextMenu: #fff;
$colorBackMenu: #444;
$mobileMenuOffSetWidth: 220px;
$mastheadHeight: 200px;
$menuHeight: 52px;

$menuItemVerticalSpace: 0.6rem;
$menuItemHorizontalSpace: 1rem;
$menuFontStyle: $fontStyleNormal;
$menuFontFamily: $fontFamilyBase;
$menuFontSize: $fontSizeBase;
$menuFontWeight: $fontWeightBold;

// Simple menu

//$menuFont: $colorTextMenu;
//$menuBack: transparent;
//
//$menuFontHover: #ddd;
//$menuBackHover: #222;
//
//$menuFontCurrent: #aaa;
//$menuBackCurrent: transparent;
//
//$menuFontCurrentHover: #ddd;
//$menuBackCurrentHover: #222;
//
//$menuBackDrop: #666;
//
//$menuBackSide: #3b3b3b;

// Mega-menu

$menuItemVerticalSpaceLess: 0.3rem;

$menuFont: $colorTextMenu;
$menuBack: transparent;

$menuFontHover: #ddd;
$menuBackHover: #222;

$menuFontCurrent: #aaa;
$menuBackCurrent: transparent;

$menuFontCurrentHover: #ddd;
$menuBackCurrentHover: #222;

$menuMegaHead: #666;
$menuMegaSubBack: #222;
$menuMegaSubBackOpen: #333;
$menuMegaSubHead: lighten($colorTextLink, 20%);
$menuMegaTopHead: lighten($colorTextLink, 20%);

$menuBackDrop: #666;

$menuBackSide: #3b3b3b;