/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles block quotes
 */

/* Blockquotes */
blockquote,
.wp-block-pullquote blockquote {
  background: $colorBackBlockquote;
  color: $colorTextBlockquote;
  padding: 1.75rem 1.5rem 1.5rem;
  position: relative;
  z-index: 150;
  margin: 2rem 1.5rem 1.5rem;
  //border-radius: 0.15rem;

  &:before {
    content: '';
    background: url('#{$image-url}/icon-quote.svg') no-repeat;
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    z-index: 200;
    top: -1.6rem;
    left: -2.25rem;
  }

  p {
    font-family: $fontFamilySans;
    font-size: unset;

    &:first-child {
      margin-top: 0;
    }
  }

  cite {
    display: block;
    text-align: left;
    font-style: $fontStyleItalic;
    font-family: $fontFamilySans;
    line-height: 1.3;
    text-indent: -1.5rem;
    padding-left: 1.5rem;
    margin-top: 0.8rem;
    color: $colorAccentBlockquote;
    font-weight: $fontWeightBold;

    em {
      font-style: $fontStyleNormal;
    }

    &:before {
      content: '— ';
    }
  }

  &:not([class~="size"]) {
    font-size: $fontSizeBase;
  }
}
