/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles breadcrumbs
 */

ol.breadcrumb {
  margin: 1rem 0;
  background: transparent;
  padding: 0;
  list-style: none;
  @include clearfix();
  li {
    list-style: none;
    display: block;
    float: left;
    font-size: 0.85rem;
    margin: 0;
    padding: 0;
    color: $colorTextCrumbs;
    // &:after {
    //   content: ' \003e ';
    //   color: $colorTextMeta;
    //   display: inline-block;
    //   padding: 0 0.5rem;
    // }
    &.current-menu-item {
      font-weight: $fontWeightBold;
      color: lighten($colorTextCrumbs, 25%);
      &:after {
        content: '';
      }
    }
    &.menu-item-object-custom.current-menu-ancestor a {
      text-decoration: none;
      color: $colorTextCrumbs;
      cursor: text;
    }
  }
}
