/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Global button styles
 *
 * @link - inspired by http://ianlunn.github.io/Hover/
 */

// Efficiency hacks for mobile devices - https://github.com/IanLunn/Hover/wiki/Hacks-Explained
@mixin hardwareAccel() {
  // Improve performance on mobile/tablet devices
  // Perspective reduces blurriness of text in Chrome
  & {
    transform: perspective(1px) translateZ(0);
  }
}

@mixin improveAntiAlias() {
  // Improve aliasing on mobile/tablet devices
  & {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
}

@mixin forceBlockLevel() {
  // Transforms need to be block-level to work
  & {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin btnHacks() {
  @include forceBlockLevel();
  @include hardwareAccel();
  @include improveAntiAlias();
}

/* Rectangle Out */
@mixin rectangle-out {
  position: relative;
  background: $btnPrimaryColor;
  transition: $transitionSpeed color;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $btnActiveColor;
    border-radius: $btnBorderRadius;
    transform: scale(0);
    transition: $transitionSpeed transform ease-out;
  }
  &:hover,
  &:focus,
  &:active {
    color: $colorTextReverse;
    background: $btnPrimaryColor;

    &:before {
      transform: scale(1);
    }
  }
  @include btnHacks();
}

/* Shutter Out Horizontal */
@mixin shutter-out-horizontal {
  & {
    position: relative;
    background: $btnPrimaryColor;
    transition: $transitionSpeed color;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $btnActiveColor;
      border-radius: $btnBorderRadius;
      transform: scaleX(0);
      transform-origin: 50%;
      transition: $transitionSpeed transform ease-out;
    }

    &:hover,
    &:focus,
    &:active {
      color: $colorTextReverse;
      background: $btnPrimaryColor;

      &:before {
        transform: scaleX(1);
      }
    }
  }
  @include btnHacks();
}

/* Pop */
@keyframes hoverPop {
  50% {
    transform: scale(1.2);
  }
}

@mixin pop {
  background: $btnPrimaryColor;
  &:hover,
  &:focus,
  &:active {
    animation-name: hoverPop;
    animation-duration: $transitionSpeed;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    background: $btnActiveColor;
    color: $colorTextReverse;
  }
  @include btnHacks();
}

// Button mixin
@mixin button() {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    line-height: 1.2;
    padding: 0.5rem 1.125rem (0.5rem - 0.1rem); // Buttom padding accommodates line-height.
    margin: 0.5rem;
    width: auto;
    height: auto;
    cursor: pointer;
    border-radius: $btnBorderRadius;
    font-family: $fontFamilySans;
    font-weight: $fontWeightBold;
    border: none;
    color: $colorTextReverse;
    @include shutter-out-horizontal();
    //@include rectangle-out();
  }
  &.ghost {
    &:link,
    &:visited {
      background: transparent;
      border: 0.15rem solid $colorTextLink;
      color: $colorTextLink;
    }

    &:before {
      top: -0.15rem;
      right: -0.15rem;
      bottom: -0.15rem;
      left: -0.15rem;
    }

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      border-color: $btnActiveColor;
      color: $colorTextReverse;
    }
  }
  &.ghost.reversed {
    &:link,
    &:visited {
      border-color: $colorTextReverse;
      color: $colorTextReverse;
    }

    &:hover,
    &:focus {
      border-color: $btnActiveColor;
      color: $colorTextReverse;
    }
  }
  // Adds arrow after button text
  &:after {
    content: '\203A';
    font-size: 1.125rem;
    display: inline-block;
    padding: 0 0 0.3rem 0.3rem;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: grayscale(100%);
  }
}

// Apply button mixin
.button,
.wp-block-button__link {
  @include button();
}

.is-style-outline > .wp-block-button__link:not(.has-text-color),
.wp-block-button__link.is-style-outline:not(.has-text-color),
.ghost .wp-block-button__link {
  &:link,
  &:visited {
    background: transparent;
    border: 0.15rem solid $colorTextLink;
    color: $colorTextLink;
    padding: (0.5rem - 0.15rem) 1.125rem (0.5rem - 0.1rem - 0.15rem); // Top & bottom padding accommodates border width.
  }

  &:before {
    top: -0.15rem;
    right: -0.15rem;
    bottom: -0.15rem;
    left: -0.15rem;
  }

  &:hover,
  &:focus,
  &:active {
    background: transparent;
    border-color: $btnActiveColor;
    color: $colorTextReverse;
  }
}

.ghost.reversed .wp-block-button__link,
.is-style-outline .wp-block-button__link.has-text-color {
  &:link,
  &:visited {
    border-color: $colorTextReverse;
    color: $colorTextReverse;
  }

  &:hover,
  &:focus {
    border-color: $btnActiveColor;
    color: $colorTextReverse;
  }
}


// Post edit link
.edit-link {
  text-align: center;
  clear: both;

  a.button {
    margin: 1rem auto;
    @include button();
  }
}

// Button element mixin
@mixin button-element() {
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
  padding: 0.5rem 1.125rem 0.5rem - 0.1rem; // Buttom padding accommodates line-height.
  margin: 0.5rem;
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: $btnBorderRadius;
  font-family: $fontFamilySans;
  font-weight: $fontWeightBold;
  border: none;
  color: $colorTextReverse;
  &:hover,
  &:focus,
  &:active {
    background: $btnPrimaryColor;
    border-color: $btnActiveColor;
    color: $colorTextReverse;
  }
  // Adds arrow after button text
  &:after {
    content: '\203A';
    font-size: 1.125rem;
    display: inline-block;
    padding: 0 0 0.3rem 0.3rem;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: grayscale(100%);
  }
  @include shutter-out-horizontal();
  //@include rectangle-out();
}

// Apply button element mixin
button.gform_next_button,
button.gform_previous_button,
button.gform_button,
button.submit {
  @include button-element();
}

// Margins above and below button sets.
//.wp-block-buttons {
//  margin-top: 1.5rem;
//  margin-bottom: 1.5rem;
//}

// Limited styling for inputs that can't be changed to buttons
// Input mixin
@mixin button-input() {
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
  padding: 0.5rem 1.125rem 0.5rem + 0.1rem; // Button padding accommodates line-height.
  margin: 0.5rem;
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: $btnBorderRadius;
  font-family: $fontFamilySans;
  font-weight: $fontWeightBold;
  border: none;
  color: $colorTextReverse;
  background-color: $btnPrimaryColor;
  transition: background-color $transitionSpeed;

  &:hover,
  &:focus,
  &:active {
    background: $btnActiveColor;
    color: $colorTextReverse;
  }
}

// Apply button input mixin
input[type="button"],
input[type="submit"],
input[type="reset"] {
  @include button-input();
}

// Button blocks with no links look disabled.
.wp-block-button,
.wp-block-button.is-style-outline {
  a:not([href]),
  a[href=""],
  a[href="#"] {
    font-size: 1rem;
    text-align: center;
    line-height: 1.2;
    padding: 0.5rem 1.125rem 0.5rem - 0.1rem; // Button padding accommodates line-height.
    margin: 0.5rem;
    width: auto;
    height: auto;
    cursor: not-allowed;
    opacity: 0.5;
    filter: grayscale(100%);
    border-radius: $btnBorderRadius;
    font-family: $fontFamilySans;
    text-decoration: none;
    font-weight: $fontWeightBold;
    border-color: $btnActiveColor;
    color: $btnActiveColor;

    &:before {
      display: none;
    }

    &:hover {
      color: $btnActiveColor;
    }
  }
}

// Button blocks with custom large style applied
.wp-block-buttons.is-style-large {
  .wp-block-button,
  .wp-block-button.is-style-outline {
    .wp-block-button__link {
      font-size: $fontSizeH4;
      line-height: 1.2;
      padding: 0.9rem 1.5rem (0.9rem - 0.1rem); // Buttom padding accommodates line-height.
    }
  }
}

// Logout password protected post support
// https://wordpress.org/plugins/logout-password-protected-posts/
//.pw-logout {
//  text-align: center;
//
//  a {
//    @include button();
//  }
//}
//
//.post-password-form input[type="submit"] {
//  margin: 1rem auto;
//  display: block;
//  @include button-input();
//}