/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles cards
 */

.cards {
  width: 100%;
  max-width: 101.25rem;
  margin: 1rem auto;
  @include clearfix();

  .card {
    position: relative;
    display: block;
    margin: 0 0.5rem 1rem;
    background: $colorBackCard;
    padding: 0;

    figure {
      margin: 0;
      text-align: center;
      overflow: hidden;

      // Crops portrait-mode images
      background-color: rgba($colorShadow, 0.8);
      width: 100%;
      max-height: 32rem;
      aspect-ratio: 1 / 1;
    }

    a.linked-image {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0;
      transition: $transitionSpeed transform ease-in-out;
      position: relative;
      z-index: 100;
    }

    figcaption {
      background: $colorBackCaption;
      text-align: center;
      font-weight: $fontWeightBold;
      color: $colorTextHead;
      padding-top: 0.5rem;
      font-size: 1.266rem;
      line-height: 1.3;
      position: relative;
      z-index: 200;
    }

    p {
      font-size: $fontSizeP;
    }

    .more-link {
      text-align: center;
      margin-bottom: 1rem;
    }

    &:hover {
      img {
        //filter: grayscale(90%);
        transform: scale(1.03);
      }
    }
  }
}

.cards.blog,
.cards.tags {
  padding: 1rem 0;

  .card {
    .post-header,
    .entry-content {
      padding: 0.5rem 1rem;
    }

    .post-header {
      padding-bottom: 0;
    }

    .entry-content {
      padding-top: 0;
    }

    .post {
      padding-top: 0;
    }

    .post:first-of-type {
      margin-top: 0;
    }

    article {
      width: auto;
      max-width: none;
    }

    h2.post-title {
      font-size: 1.728rem;
      margin-top: 0.5rem;
    }
  }

  // .card .customtaxonomy a,
  // .card .customtaxonomy a:visited {
  //   text-decoration: none;
  //   background-color: $grayDark;
  //   text-align: center;
  //   padding: 0.6rem 1rem;
  //   display: block;
  //   color: $colorTextReverse;
  //   font-weight: $fontWeightBold;
  //   text-transform: uppercase;
  //   font-size: $fontSizeP;
  //   letter-spacing: 0.1rem;
  //   transition: $transitionSpeed background-color;

  //   &:hover,
  //   &:active {
  //     background-color: $colorTextLinkHover;
  //     color: $colorTextReverse;
  //   }
  // }
}

.cards.hand {
  .card {
    p {
      padding: 0 1rem;
      margin-bottom: 0.8rem;
      text-align: center;
    }
  }

  .wp-block-image {
    .aligncenter {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

// Customizations to make Getwid custom post type block work like custom cards.
// .getwid-columns {
//   justify-content: center;
//   margin: 1.5rem auto;
//   max-width: 100rem;
// }

// .wp-block-getwid-template-post-meta {
//   padding: 0 1rem;
// }

// .getwid-columns.getwid-columns-2 > *,
// .getwid-columns.getwid-columns-3 > *,
// .getwid-columns.getwid-columns-4 > * {
//   padding-left: 0;
//   padding-right: 0;
//   margin-left: 0;
//   margin-right: 0;
// }

// .wp-block-getwid-custom-post-type__post {
//   margin-top: 2rem;
//   padding: 0 0 1rem;
//   background: $colorBackCard;

//   .has-background & {
//     background: $colorTextReverse;
//   }

//   .wp-block-group {
//     margin: 0;
//     padding: 0;
//   }

//   .wp-block-getwid-template-post-date {
//     a {
//       pointer-events: none;
//       cursor: default;
//       color: $colorTextMeta;
//       text-decoration: none;
//     }
//   }

  // .wp-block-getwid-template-post-date i,
  // .wp-block-getwid-template-post-categories i,
  // .wp-block-getwid-template-post-tags i,
  // .wp-block-getwid-template-post-comments i {
  //   font-size: 1em;
  //   color: $colorTextMeta;
  //   margin-right: 0;
  // }


  //.wp-block-getwid-template-post-categories {
  //  margin: 0;
  //
  //  i {
  //    display: none;
  //  }
  //
  //  a,
  //  a:link,
  //  a:visited {
  //    text-decoration: none;
  //    background-color: $colorBackCard;
  //    text-align: center;
  //    padding: 0.6rem 1rem;
  //    display: block;
  //    color: $colorTextReverse;
  //    font-weight: $fontWeightBold;
  //    text-transform: uppercase;
  //    font-size: $fontSizeP;
  //    letter-spacing: 0.1rem;
  //    transition: $transitionSpeed background-color;
  //
  //    &:hover,
  //    &:active {
  //      background-color: $colorTextLinkHover;
  //      color: $colorTextReverse;
  //    }
  //  }
  //}

//   .wp-block-getwid-template-post-featured-image {
//     margin: 0;
//     text-align: center;
//     overflow: hidden;
//     height: auto;
//     max-height: 20rem;

//     a {
//       display: block;
//       overflow: hidden;
//       text-decoration: none;
//     }

//     img {
//       width: 100%;
//       max-width: 100%;
//       height: auto;
//       margin: 0;
//       transition: $transitionSpeed transform ease-in-out;
//       position: relative;
//       z-index: 100;
//     }

//     &:hover {
//       img {
//         transform: scale(1.03);
//       }
//     }
//   }

//   .wp-block-getwid-custom-post-type__content-wrapper,
//   .wp-block-getwid-template-post-content,
//   .wp-block-getwid-template-post-meta.has-direction-row {
//     padding: 0 1rem;
//   }

//   .wp-block-getwid-template-post-title a,
//   .wp-block-getwid-custom-post-type__post-title a {
//     text-decoration: none;
//   }
// }

// @media screen and (min-width: 991px) {
//   .getwid-columns-2 .wp-block-getwid-custom-post-type__post:nth-child(2),
//   .getwid-columns-3 .wp-block-getwid-custom-post-type__post:nth-child(3),
//   .getwid-columns-4 .wp-block-getwid-custom-post-type__post:nth-child(4) {
//     margin-top: 0;
//   }
// }

// @media screen and (min-width: 992px) {
//   .getwid-columns.getwid-columns-2 > * {
//     width: 46%;
//   }
// }

// @media screen and (min-width: 992px) {
//   .getwid-columns.getwid-columns-3 > * {
//     width: 30%;
//   }
// }

// @media screen and (min-width: 992px) {
//   .getwid-columns.getwid-columns-4 > * {
//     width: 21%;
//   }
// }