/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles comments
 */

.comments-area {
  width: 95vw;
  max-width: 600px;
  border-radius: 0.1rem;
  margin: 1rem auto;
  padding: 0.4rem 0;
  border: 0.1rem solid rgba($colorBorder, 0.8);
  // background: $colorBackSidebar;
  background-color: rgba($colorBackSidebar, 0.3);
}

.comment-reply-title {
  margin: 0.1rem 0 0.4rem;
}

.comments-title {
  margin: 0.1rem 0.6rem 0.4rem;
}

.comment-list {
  list-style: none;
  margin: 0 0 1rem 0;
  li {
    margin: 0;
    &.odd {
      background: $colorBackHighlight;
    }
  }
}

.comment-author {
  font-size: 1.1rem;
  line-height: 1.3;
}

.comment-list .reply, .commentmetadata {
  font-size: 0.85rem;
  line-height: 1.2;
  a {
    text-decoration: none;
    color: $colorTextMeta;
    //&:hover {
    //  text-decoration: underline;
    //  color: $colorTextLinkHover;
    //}
  }
}

.comment-list .reply {
  margin-top: 2rem;
}

.comment-author {
  .fn {
    font-weight: $fontWeightBold;
    font-style: $fontStyleNormal;
  }
  a {
    color: $colorTextMain;
    text-decoration: none;
  }
}

.comment-list {
  .trackback a, .pingback a {
    color: $colorTextMeta;
  }
}

.comment-metadata {
  margin-top: 0.6rem;
  a {
    color: $colorTextMeta;
  }
}

.comment-author a:hover {
  color: $colorTextLinkHover;
}

.comment-list {
  .pingback a:hover, .trackback a:hover {
    color: $colorTextLinkHover;
  }
}

.comment-metadata a:hover {
  color: $colorTextLinkHover;
}

.comment-list {
  article, .pingback, .trackback {
    border-top: 0.1rem solid rgba($colorBorder, 0.3);
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
  > {
    li:first-child > article, .pingback:first-child, .trackback:first-child {
      border-top: 0;
    }
  }
}

.comment-body {
  position: relative;
  padding: 1rem 1rem 1rem 100px;
  margin: 0;
  border-top: 0.1rem solid rgba($colorBorder, 0.5);
}

.comment-author {
  position: relative;
  .avatar {
    border: 0.1rem solid rgba($colorBorder, 0.2);
    width: 80px;
    height: 80px;
    padding: 0.2rem;
    position: absolute;
    top: 0;
    left: -90px;
  }
}

.says {
  display: none;
}

.comment-edit-link {
  margin-left: 10px;
  text-decoration: none;
}

.comment-reply-link {
  text-decoration: none;
}

.comment-content {
  hyphens: auto;
  word-wrap: break-word;
  ul, ol {
    margin: 0 0 2rem 1.6rem;
  }
  li > {
    ul, ol {
      margin-bottom: 0;
    }
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.comment-list .children {
  list-style: none;
  margin-left: 40px;
  position: relative;
  &::before {
    position: absolute;
    display: inline-block;
    content: '';
    top: -1rem;
    @include arrow-up($colorBackHighlight, 1rem);
  }
  .comment-body {
    border: none;
  }
}

.comment-respond {
  margin-bottom: 24px;
  padding: 0 1rem;
}

.comment .comment-respond {
  margin-top: 2rem;
}

.comment-respond h3 {
  margin-top: 0;
}

.comment-notes, .comment-awaiting-moderation, .logged-in-as, .no-comments {
  color: $colorTextMeta;
}

.form-allowed-tags {
  color: $colorTextMeta;
  code {
    color: $colorTextMeta;
  }
}

.comment-notes, .comment-awaiting-moderation, .logged-in-as {
  font-size: 0.9rem;
  line-height: 1.7142857142;
}

.no-comments {
  font-size: 1rem;
  line-height: 1.5;
  margin: 2rem 1rem 1rem;
}

.comment-form {
  label {
    display: block;
  }
  input {
    &[type='text'], &[type='email'], &[type='url'] {
      width: 100%;
    }
  }
}

.form-allowed-tags {
  font-size: 12px;
  line-height: 1.5;
  code {
    font-size: 12px;
    line-height: 1.5;
  }
}

.required {
  color: $colorTextHighlight;
}

.comment-reply-title small a {
  color: $colorTextMeta;
  font-size: 0.7rem;
  &:hover {
    color: $colorTextLinkHover;
  }
}

.comment-navigation {
  font-size: 0.9rem;
  line-height: 2;
  margin-bottom: 2.5rem;
  .nav-next {
    display: inline-block;
  }
  .nav-previous {
    display: inline-block;
    a {
      margin-right: 1rem;
    }
  }
}

#comment-nav-above {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.commentlist .bypostauthor,
.commentlist li ul.children li.bypostauthor {
  border: 0.1rem solid rgba($colorTextHighlight, 0.8);
}

textarea#comment {
  overflow: scroll;
  resize: vertical;
  width: 100%;
  border: 0.2rem solid #dadada;
  border-radius: 0.2rem;
}

