/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles Gutenberg stuff
 */

// Full-width block support
// (Wide blocks are handled only for wider screens)
.alignfull {
  @include align-full();
}

// Hack to fix editor alignment bug: https://github.com/WordPress/gutenberg/issues/33385
@media only screen and (min-width: 48rem) {
  .alignleft {
    margin-left: calc((100% - #{$contentWidth}) / 2) !important;
  }

  .alignright {
    margin-right: calc((100% - #{$contentWidth}) / 2) !important;
  }
}

.wp-block-cover {
  width: auto;
}

// Group block support
.wp-block-group {
  padding: 1.5rem;

  &.alignfull.is-layout-constrained {
    padding: 1.5rem 15px;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .breakout & {
    max-width: none;
  }

  //box-shadow: 0 2px 6px rgba($colorShadow, 0.4);
}

.wp-block-group__inner-container,
.wp-block-cover__inner-container {
  max-width: 45rem;
  margin: 0 auto;
}

.wp-block-group,
.wp-block-cover,
.wp-block-columns,
.wp-block-media-text,
.wp-block-embed,
.wp-block-gallery {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  &.no-margin-top {
    margin-top: 0;
  }

  &.no-margin-bottom {
    margin-bottom: 0;
  }
}

.wp-block-embed {
  margin: 1.5rem auto 3rem;
}

// File download block
.wp-block-file {
  margin: 0.5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: $fontSizeP;

  // Overrides core style injected as of WP 6.1
  &:not(.wp-element-button) {
    font-size: $fontSizeP;
  }

  // Sets icon styles for any href
  a[href] {
    position: relative;
    margin: 0 0 0 2rem;
    line-height: 32px;
    display: inline-block;

    &:before {
      content: '';
      background: url('#{$image-url}/icon-file-pdf.svg') 0 0 no-repeat;
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      left: -35px;
    }

    &.wp-block-file__button {
      background: url('#{$image-url}/icon-download.svg') 0 0 no-repeat;
      margin-left: 1rem;
      height: 32px;
      width: 32px;
      position: relative;
      top: 0;
      transition: $transitionSpeed top;

      span {
        display: none;
      }

      &:hover {
        top: 0.1rem;
      }

      &:before {
        display: none;
      }
    }

  }

  // Sets PDF icon
  a[href $= '.pdf'] {

    &:before {
      background-image: url('#{$image-url}/icon-file-pdf.svg');
    }
  }

  // Sets DOC icon
  a[href $= '.doc'],
  a[href $= '.docx'] {

    &:before {
      background-image: url('#{$image-url}/icon-file-doc.svg');
    }
  }

  // Sets XLS icon
  a[href $= '.xls'],
  a[href $= '.xlsx'] {

    &:before {
      background-image: url('#{$image-url}/icon-file-xls.svg');
    }
  }

  // Sets PPT icon
  a[href $= '.ppt'],
  a[href $= '.pptx'] {

    &:before {
      background-image: url('#{$image-url}/icon-file-ppt.svg');
    }
  }

  // Sets ZIP icon
  a[href $= '.zip'] {

    &:before {
      background-image: url('#{$image-url}/icon-file-zip.svg');
    }
  }

  // Sets PNG icon
  a[href $= '.png'] {

    &:before {
      background-image: url('#{$image-url}/icon-file-png.svg');
    }
  }

  // Sets AIF icon
  a[href $= '.aif'],
  a[href $= '.aiff'] {

    &:before {
      background-image: url('#{$image-url}/icon-file-aif.svg');
    }
  }

  // Sets MP3 icon
  a[href $= '.mp3'] {

    &:before {
      background-image: url('#{$image-url}/icon-file-mp3.svg');
    }
  }

  // Sets EPS icon
  a[href $= '.eps'] {

    &:before {
      background-image: url('#{$image-url}/icon-file-eps.svg');
    }
  }

}

// GetWid Accordion blocks
.wp-block-getwid-accordion {
  margin-top: 1.5rem;
}

.wp-block-getwid-accordion .wp-block-getwid-accordion__header a {
  text-decoration: none;
  font-size: $fontSizeH5;
  font-weight: $fontWeightBold;
}

.wp-block-getwid-accordion__content-wrapper.ui-accordion-content-active {
  background: #eee;
}

// Supports custom color palettes
// If multisite, uncomment top color rule lines
//.has-teal-background-color {
//  background-color: $teal;
//}

//[class*='site-id-'] .has-teal-color,
//.has-teal-color {
//  color: $teal;
//}

//.has-aqua-background-color {
//  background-color: $aqua;
//}

//[class*='site-id-'] .has-aqua-color,
//.has-aqua-color {
//  color: $aqua;
//}

//.has-warm-gray-light-background-color {
//  background-color: $warmGrayLight;
//}

//[class*='site-id-'] .has-warm-gray-light-color,
//.has-warm-gray-light-color {
//  color: $warmGrayLight;
//}

//.has-choco-background-color {
//  background-color: $choco;
//}

//[class*='site-id-'] .has-choco-color,
//.has-choco-color {
//  color: $choco;
//}

//.has-orange-background-color {
//  background-color: $orange;
//}

//[class*='site-id-'] .has-orange-color,
//.has-orange-color {
//  color: $orange;
//}

// Gradient support
//.has-gray-wash-gradient-background {
//  background: linear-gradient(to left top, rgba(128, 128, 128, 1), rgba(192, 192, 192, 1));
//}

// Supports custom edit font sizes
//.has-small-font-size {
//  font-size: $fontSizeSmall;
//}

//.has-normal-font-size {
//  font-size: $fontSizeNormal;
//}

//.has-medium-font-size {
//  font-size: $fontSizeMedium;
//}

//.has-large-font-size {
//  font-size: $fontSizeLarge;
//}

//.has-huge-font-size {
//  font-size: $fontSizeHuge;
//}