/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles the site footer
 */

#colophon {
  background: $colorBackFooter;

  .content {
    padding: 1rem 2%;
  }

  p {
    color: $colorTextFooter;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;

    &.footer-custom-text {
      margin-bottom: 1rem;
    }
  }

  .column {
    margin: 1rem auto;
    text-align: center;
  }

  #footer-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .email {
      margin-bottom: 1.5rem;
      width: 100%;
    }

    .menu-footer-menu-container {
      width: 100%;
    }

    .menu {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 0.5rem 0.4rem 0;
        font-size: 1rem;
      }

      .menu-item {
        //&:before {
        //  content: '\007C';
        //  color: $colorTextLinkFooter;
        //  opacity: 0.8;
        //  display: inline-block;
        //  padding: 0 0.5rem;
        //}
        //&:first-of-type:before {
        //  content: none;
        //}
      }
    }
  }

  #footer-socials {

  }

  #footer-copyright {
    flex-flow: column nowrap;
    p {
      font-size: $fontSizeSmall;
      text-align: center;
    }
  }

  #logo-footer {
    margin: 1rem auto;

    a {
      @include hide-text();
      background: url('#{$image-url}logo-small.svg') no-repeat;
      display: block;
      width: 250px;
      height: 42px;
      transition: $transitionSpeed opacity;
      margin: 0 auto;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.6;
        border-color: transparent;
      }
    }
  }

  .credit {
    display: block;
    flex-wrap: wrap;
    margin: 1.5rem auto 0;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.85rem;
    color: $colorTextFooter;

    a,
    a:visited {
      display: inline-block;
      margin: 0 auto;
      color: $colorTextLinkFooter;
      text-decoration: none;

      &:hover {
        color: $colorTextLinkHoverFooter;
      }
    }
  }
}

#subfooter {
  background: $colorBackSubfooter;
  color: $colorTextReverse;

  .content {
    padding: 3rem 1rem;
  }
}