/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Non-Gravity Forms
 */

/* Form Elements */
.content form {
  margin: 1rem 0;
}

fieldset {
  padding: 1rem 0;
  border: none;

  > * {
    padding-left: 0;
  }

  legend {
    padding-left: 0;
  }
}

select {
  appearance: none;
  padding: 0.4rem;
  background: $colorBackFormInput url('#{$image-url}icon-select.svg') right 3px top 3px no-repeat;
  //color: $colorTextFormInput;
  border: 1px solid rgba(#888, 0.4);
  border-radius: $borderRadiusInput;
  font-size: $formInputFontSize;
  position: relative;

  &::-ms-expand {
    display: none;
  }
}

option {
  padding: 0.25rem 0.5rem;
}

textarea, select[multiple] {
  width: 100%;
  max-width: 100%;
  border-radius: $borderRadiusInput;
  border: 0;
  padding: $formInputPadding;
  font-size: $formInputFontSize;
  outline: none;
  background: $colorBackFormInput;
  color: $colorTextFormInput;
}

input {
  &[type="date"],
  &[type="datetime"],
  &[type="datetime-local"],
  &[type="email"],
  &[type="month"],
  &[type="week"],
  &[type="number"],
  &[type="password"],
  &[type="search"],
  &[type="text"],
  &[type="time"],
  &[type="url"],
  &[type="tel"],
  &[type="time"] {
    width: 100%;
    max-width: 100%;
    border-radius: $borderRadiusInput;
    border: 0;
    padding: $formInputPadding;
    font-size: $formInputFontSize;
    outline: none;
    background: $colorBackFormInput;
    color: $colorTextFormInput;
  }
}

textarea {
  min-height: 200px;
  width: 100%;
}


/* Basics */

li:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding: 0.5rem 0;
  overflow: visible;
}

/* Radio & Checkboxes */
input[type="radio"] + input[type="text"] {
  float: left;
  display: inline-block;
  width: 10rem;
  top: -.75rem;
  position: relative;
  margin-left: 0.25rem;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  margin-left: 1rem;

  &:first-child {
    margin-left: 0;
  }
}

/* Selects */
select {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

// Set font for forms
label,
input,
button,
select,
textarea,
input,
button,
select,
textarea {
  font-family: $fontFamilyBase; // And only set font-family here for those that need it (note the missing label element)
}