/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles the site header
 */

// If using custom header image as background
// #branding {
//   position: relative;
// }

// #site-header {
//   display: none;
// }

#branding .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#site-title {
  margin: 0;
  line-height: 0;
  font-size: 0;
  justify-content: flex-start;
  align-items: center;

  a {
    display: block;
    padding: 0.5rem;

    span {
      @include hide-text();
    }
  }
}

#logo {
  margin: 0;
  width: 100%;
  height: auto;
  max-width: 30rem;
  fill: $colorTextLink;
  transition: fill $transitionSpeed ease;

  &:hover {
    box-shadow: none;
    fill: $colorTextLinkHover;
  }
}

#site-description {
  font-size: $fontSizeH3;
  font-weight: $fontWeightHead;
  margin: 0;
  padding: 1rem;
  line-height: 1.125;
  color: $colorTextHead;
  justify-content: flex-end;
  align-items: center;
}

// Forces Webpack to process default masthead for core custom header image.
// .makeitload {
//   background-image: url('#{$image-url}masthead-default.webp');
// }

// Top Menu
// #top-menu {
//   display: flex;
//   justify-content: flex-end;
//   padding: 0.2rem 1rem;
//   background: rgba($colorBackSidebar, 0.3);
//   //box-shadow: inset 0 -2px 4px rgba($colorShadow, 0.1);
//   ul {
//     display: block;
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     li {
//       display: block;
//       list-style: none;
//       float: left;
//       margin: 0;
//       padding: 0;
//       a {
//         display: block;
//         float: left;
//         text-decoration: none;
//         border: none;
//         margin: 0.5rem 1rem;
//         color: $colorTextLink;
//         font-weight: $fontWeightBold;
//         font-size: 1rem;
//         position: relative;
//         padding: 0.25rem 0;

//         // animated underlines
//         &:before {
//           content: '';
//           position: absolute;
//           width: 100%;
//           height: 0.2rem;
//           bottom: 0;
//           left: 0;
//           background-color: $colorTextLink;
//           visibility: hidden;
//           transform: scaleX(0);
//           transition: all $transitionSpeed ease-in-out 0s;
//         }
//         &:hover {
//           color: $colorTextLink;
//           &:before {
//             visibility: visible;
//             transform: scaleX(1);
//           }
//         }
//       }
//     }
//     .current-menu-item a {
//       color: $colorTextLinkHover;
//     }
//   }
// }