/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Hero image styles
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-0.5rem);
  }
  to {
    transform: translateX(0);
  }
}

#hero {
  margin: 0;
  position: relative;
  figcaption {
    position: absolute;
    color: #fff;
    font-weight: $fontWeightNormal;
    z-index: 200;
    text-align: center;
    font-size: 4vw;
    line-height: 1.3;
    background: transparent;
    margin: 0;
    opacity: 0;
    animation: fadeIn ease-in 1, slideInRight ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.7s;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: $fontWeightNormal;
      &:hover {
        color: $colorTextLinkHover;
      }
    }
    &.gray {
      color: #333;
      a {
        color: #333;
        &:hover {
          color: $colorTextLinkHover;
        }
      }
    }
    &.top-left {
      top: 3%;
      left: 1.5%;
    }
    &.top-center {
      top: 3%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &.top-right {
      top: 3%;
      right: 1.5%;
    }
    &.middle-left {
      top: 25%;
      left: 3%;
    }
    &.middle-center {
      top: 25%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &.middle-right {
      top: 25%;
      right: 3%;
    }
    &.bottom-left {
      bottom: 3%;
      left: 1.5%;
    }
    &.bottom-center {
      bottom: 3%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &.bottom-right {
      bottom: 3%;
      right: 3%;
    }
  }
  img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    z-index: 100;
  }
}