/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles images at base level
 */


figure,
.wp-block-image {
  margin: 1.5rem auto;

  figcaption {
    margin-bottom: 0.5rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// Block image support
.wp-block-image {
  &.alignleft,
  &.alignright,
  &.aligncenter {
    margin: 2rem auto;
    clear: both;
    float: none;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;

    // Image appearance
    border: none;
    position: relative;
    z-index: 500;
    // border-radius: 0.2rem;
    // box-shadow: 0.1rem 0.2rem 0.8rem rgba($colorShadow, 0.2);
  }
}

// Adds zoom icon to enlargeable images
//.wp-block-image,
//.featured-image {
//  position: relative;
//
//  a.lightbox:after {
//    content: '';
//    display: block;
//    position: absolute;
//    top: 1rem;
//    left: 1rem;
//    background: url('#{$image-url}icon-zoom.svg') no-repeat;
//    opacity: 0.9;
//    width: 32px;
//    height: 32px;
//    z-index: 600;
//  }
//}

// Make gallery items not fill space on uneven rows
// figure.wp-block-gallery.has-nested-images {
//   justify-content: center;
// }

// .wp-block-gallery.has-nested-images figure.wp-block-image {
//   flex-grow: 0;
// }

// Optional image block border class
figure.wp-block-image.bordered img {
  border: 1px solid $colorBorder;
  border-radius: 0.1rem;
  box-shadow: 2px 2px 6px rgba($colorShadow, 0.25);

  &:hover {
    box-shadow: 4px 4px 8px rgba($colorShadow, 0.5);
  }
}

// Theme image support
.featured-image {
  margin: 1rem auto;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  figcaption {
    color: $colorTextCaption;
    margin: 0.5rem auto 1rem;
    font-size: $fontSizeBase;
    text-align: center;
  }
}

img.inline {
  margin: 0;
  display: inline;
}


/* Gallery blocks
   --------------------------------------------------- */

// Removes bullets from gallery list items
.entry-content {
  .blockgallery,
  .wp-block-gallery,
  .wp-block-blockgallery-masonry {
    li:before {
      display: none;
    }
  }
}

.wp-block-gallery {
  margin-left: auto;
  margin-right: auto;
}

// Change block columns per breakpoint
@media (max-width: 599px) {
  // 1 column gallery on narrow screens
  .wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image),
  .wp-block-gallery .blocks-gallery-item { // Legacy gallery blocks
    width: 100%;
    margin-right: 0;
  }
}

// Image captions
.wp-block-image,
.wp-block-gallery.has-nested-images figure.wp-block-image,
.wp-block-gallery .blocks-gallery-item { // Legacy gallery blocks
  figcaption {
    font-size: $fontSizeSmall;
    z-index: 510;
  }
}

// Force core gallery block thumbnails to same size
//.wp-block-gallery.has-nested-images figure.wp-block-image,
//.wp-block-gallery .blocks-gallery-item { // Legacy gallery blocks
//    flex-grow:  0;
//}

// Legacy image support
img {
  &.alignleft,
  &.alignright,
  &.aligncenter,
  &.alignnone {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 1rem auto;
  }
}

figure.wp-caption {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  clear: both;
  margin: 1rem 0.5rem;
}

.attachment img,
.widget-area img {
  max-width: 100%;
  height: auto;
}


// Image links
a.linked-image,
.cards a.linked-image,
article .wp-block-image a,
article .wp-block-gallery a,
article .gallery-icon a,
.featured-image a {
  text-decoration: none;
  background: none;
  padding: 0;
  transition: none;
  color: transparent;

  &:visited,
  &:hover {
    text-decoration: none;
    background: none;
    padding: 0;
    transition: none;
    color: transparent;
  }
}


figure a[href$='jpg'],
figure a[href$='jpeg'],
figure a[href$='png'],
figure a[href$='gif'] {
  cursor: default;
}

.circle {
  border-radius: 50%;
}

// Fix Gutenslider
.entry-content .wp-block-eedee-block-gutenslider {
  margin-top: 2rem;
  margin-bottom: 2rem;

  li:before {
    background: transparent;
  }
}

// IE 10 and 11
//.ie10,
//.ie11 {
//
//}

// Legacy responsive video content
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// Makes ACF embedded videos responsive.
// .video-container {
//   position: relative;
//   padding-bottom: 56.25%;
//   overflow: hidden;
//   max-width: 100%;
//   height: auto;
//   margin: 1rem auto;
// }

// .video-container iframe,
// .video-container object,
// .video-container embed {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

/* Masonry with Flexbox // https://tobiasahlin.com/blog/masonry-with-css/
   --------------------------------------------------- */

//.container {
//  display: flex;
//  flex-flow: column wrap;
//  align-content: space-between;
//  height: 600px;
//}
//
//.item {
//  width: 32%;
//  margin-bottom: 2%; /* (100-32*3)/2 */
//}
//
///* Re-order items into rows */
//.item:nth-child(3n+1) {
//  order: 1;
//}
//
//.item:nth-child(3n+2) {
//  order: 2;
//}
//
//.item:nth-child(3n) {
//  order: 3;
//}
//
///* Force new columns */
//.container::before,
//.container::after {
//  content: "";
//  flex-basis: 100%;
//  width: 0;
//  order: 2;
//}

/* Gallery (for hand-built galleries)
   --------------------------------------------------- */

//.gallery {
//  margin-top: 2rem;
//  clear: both;
//  width: 100%;
//  .gallery-item {
//    position: relative;
//    overflow: hidden;
//    width: 100%;
//    float: none;
//    margin: 1rem 0;
//    background: $colorBackCaption;
//    a {
//      display: block;
//      font-size: 0;
//      line-height: 0;
//    }
//    img {
//      width: 100%;
//    }
//    figcaption {
//      text-align: center;
//      font-size: 1rem;
//      line-height: 1.3;
//      color: $colorTextCaption;
//      background: $colorBackCaption;
//      padding: 0.2rem 0 0;
//      margin: 0;
//    }
//    a img:hover {
//      box-shadow: none;
//      cursor: default;
//    }
//  }
//}
