/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles overall layout
 */

// border-box everything
* {
  box-sizing: border-box;
}

//#wpadminbar {
//  position: fixed !important;
//}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: $menuHeight + 20px;
  --scrollbarWidth: 0px; // Leave px unit here, or it breaks full width scrollbar hack.
}

body {
  font-family: $fontFamilyBase;
  color: $colorTextMain;
  background: $colorBackMain;

  // background-image: linear-gradient($colorBackMain,$colorBackSidebar);
  // height: 100%;
  // margin: 0;
  // background-repeat: no-repeat;
  // background-attachment: fixed;

  // Multiple background images
  // background: {
  //   image: url('#{$image-url}top-back.png'), url('#{$image-url}middle-back.png'), url('#{$image-url}bottom-back.png');
  //   position: left top, center 186px, left bottom;
  //   repeat: repeat-x, no-repeat, repeat;
  // }
}

//main {
//  width: 100%;
//  overflow-x: hidden;
//}

#branding {
  background: $colorBackMasthead;
  // background: transparent;
}


article {
  padding: 0 15px;

  .wide & {
    padding: 0;
  }
}

.wide article.error-page {
  padding: 0 15px;
}

.inner {
  max-width: 45rem;
  padding: 0 1rem;
}

main {
  background: transparent;
  padding: 1.5rem 0;

  .error404 & {
    min-height: 60rem;
  }

  .woocommerce & {
    padding-top: 2rem;
  }

  .page-template-cover-as-title &,
  .page-template-landing-page & {
    padding-top: 0;
  }
}


#secondary {
  padding: 1rem 0;
  width: auto;
}

.clear,
.clearfloat {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
}

