/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles links
 */

/*********************
LINK STYLES
*********************/

// Shorthand for text-decoration-line, text-decoration-color, text-decoration-style, and text-decoration-thickness.
// https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration

a {
  text-underline-offset: 0.15em;

  article &,
  #secondary & {
    text-decoration: underline solid 5%;
    text-decoration-thickness: auto;
    @include color-link-states();

  }

  #colophon & {
    @include color-link-states($colorTextLinkFooter, $colorTextLinkFooter, $colorTextLinkHoverFooter, $colorTextLinkFooter, $colorTextLinkHoverFooter, $transitionSpeed);
  }

  // Remove decoration from non-content links
  .wp-block-image &,
  .wp-block-gallery &,
  .featured-image &,
  .gallery-icon &,
  article .blocks-gallery-item &,
  #recent-posts &,
  #branding &,
  #tribe-bar-views &,
  #tribe-events-content-wrapper &,
  .single #tribe-events-content &,
  .tribe-events-header &,
  #comments &,
  .wp-pagenavi &,
  #post-navigation &,
  #page-navigation &,
  #payment &,
  .product-remove &,
  .gfield_list_icons &,
  .wp-block-social-links &,
  .wp-block-buttons &,
  .wp-block-media-text__media & {
    text-decoration: none;
  }

  // Reverse link colors for placement over dark backgrounds; Add all dark background colors in theme here:
  .has-choco-background-color &,
  .has-black-background-color &,
  .has-teal-background-color & {
    @include color-link-states($colorTextLinkReverse, $colorTextLinkReverseVisited, $colorTextLinkReverseHover, $colorTextLinkReverseActive, $colorTextLinkReverseFocus, $transitionSpeed);
  }

  @include color-link-states();
}

// Reset solid buttons on dark backgrounds; Add all dark background colors in theme here:
.has-choco-background-color,
.has-black-background-color,
.has-teal-background-color {
  a.wp-block-button__link {
    color: $colorTextReverse;
  }
}

// Reset ghost buttons on dark backgrounds; Add all dark background colors in theme here:
.has-choco-background-color,
.has-black-background-color,
.has-teal-background-color {
  .is-style-outline > .wp-block-button__link:not(.has-text-color):link,
  .is-style-outline > .wp-block-button__link:not(.has-text-color):visited {
    color: $colorTextReverse;
    border-color: $colorTextReverse;
  }
}

// Post title links color change on hover
h2.post-title a {
  &:link {
    text-decoration: none;
    transition: color $transitionSpeed;
  }

  &:hover {
    color: $colorTextLinkHover;
  }
}

// Footer links underline only on hover
#colophon {
  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
  }

  .current-menu-item a:link,
  .current-menu-item a:visited {
    color: $colorTextLinkHoverFooter;
  }
}

// Optional no underline class
.no-underline a,
a.no-underline {
  text-decoration: none;
}

// Links that don't link
.no-link {
  pointer-events: none;
  text-decoration: none;
}

// Links in table blocks
.wp-block-table a {
  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}