/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles responsive menu on mobile devices
 */

/* Accessible link to skip nav menu */
.skip-link {
  position: absolute;
  color: $colorTextLink;
  background: $colorTextMenu;
  padding: 0.5rem 1rem;
  transform: translateY(-110%);
  z-index: 6200;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 160px;
  text-align: center;
  box-shadow: 1px 1px 4px rgba($colorShadow, 0.4);
  transition: $transitionSpeed transform;
  a {
    text-decoration: none;
    font-weight: $fontWeightBold;
    display: block;
    margin: 0 auto;
    &:hover {
      color: $colorTextLinkHover;
    }
  }
  &:focus-within {
    transform: translateY(0%);
  }
}

#access {
  background: $colorBackMenu;
  position: relative;
  z-index: 2000;
  display: flex;
  min-height: $menuHeight;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  // Sticky menu
  &[data-scroll='in'] {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    background-color: rgba($colorBackMenu, 0.9);
    box-shadow: 2px 0 4px rgba(#000, 0.5);

    // Prevents page jump as #branding element is removed from flow.
    & + #primary {
      padding-top: $menuHeight;
    }
  }
}

@media only screen and (min-width: 601px) {
  .admin-bar #access[data-scroll='in'] {
    top: 46px;
  }
}

@media only screen and (min-width: 783px) {
  .admin-bar #access[data-scroll='in'] {
    top: 32px;
  }
}

#open-menu,
#close-menu {
  text-decoration: none;
  font-size: $menuFontSize;
  font-family: $menuFontFamily;
  font-weight: $menuFontWeight;
  line-height: 1.2;
  color: $colorTextMenu;
  outline: none;
  position: relative;
  margin-left: 1rem;
  background: none;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 5rem;
  border: none;
  height: $menuHeight;
  cursor: pointer;

  &:before,
  &:after {
    display: none;
  }

  svg {
    width: 2rem;
    height: 2rem;
    fill: $colorTextMenu;
    display: inline-block;
  }
}

#close-menu {
  display: none;

  .offside-js--is-open & {
    display: inline-flex;
    position: absolute;
    top: 0;
    height: $menuHeight;
    left: 220px;
    width: 2rem;
  }

  svg {

  }

  &:hover {
    cursor: pointer;
  }
}

.offside-js--is-open #search {
  display: none;
}

// Primary menu
.primary-menu {
  display: none;
}

.offside-js--is-open {
  .primary-menu {
    display: flex;
    background: #212121;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 4px 0 8px rgba(#000, 0.7);

    li {
      display: block;
      width: $mobileMenuOffSetWidth;
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      line-height: 1;
      background: transparent;

      a {
        display: block;
        position: relative;
        width: 100%;
        padding: 0.8rem 1rem;
        text-decoration: none;
        color: #fff;
        background-color: transparent;
        font-size: $menuFontSize;
        font-family: $menuFontFamily;
        font-weight: $menuFontWeight;
        line-height: 1.2;
        border: none;
        cursor: pointer;
        border-bottom: 1px solid rgba(#000, 0.4);
        border-top: 1px solid rgba(#555, 0.6);
        transition: background-color .3s ease-in;

        &:hover {
          background-color: rgba(#000, 0.8);
        }

      }
    }


    // Current and ancestor
    li.current-menu-item,
    li.current-menu-ancestor,
    li.current-menu-parent,
    li li.current-menu-item,
    li li.current-menu-ancestor,
    li li.current-menu-parent {
      > a {
        color: #999;
        background-color: transparent;

        &:hover {
          color: #999;
          background-color: transparent;
        }
      }
    }

    // Submenu
    .sub-menu {
      margin: 0;

      li > a {
        padding-left: 2rem;
      }
    }

    // Top-level items with sub-menus
    li.menu-item-has-children > a {
      padding-right: 2rem;
      background-color: rgba(#000, 0.8);

      &:after {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        background: url('#{$image-url}icon-down-nav.svg') no-repeat;
        opacity: 0.5;
        top: 50%;
        margin-top: -4px;
        right: 0.8rem;
      }
    }
  }

  &.admin-bar .primary-menu {
    padding-top: 3rem;
  }
}