/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles post and page pagination
 */

.pagenavi-container {
  text-align: center;
  @include clearfix();
}

.wp-pagenavi {
  padding: 20px 0 15px;
  font-size: 1rem;
  line-height: 1.2;
  text-align: left;
  display: inline-block;
  a,
  span {
    line-height: 1.2;
    display: block;
    float: left;
    margin: 0 0.2rem;
    padding: 0.2rem 0.6rem;
    width: auto;
  }
  a {
    border-radius: 1.2rem;
    box-shadow: 0 -1px 0.3rem rgba(#000, 0.3), inset 0 -1px 0.3rem rgba(#fff, 0.8);
    color: $colorTextLink;
    text-align: center;
    text-decoration: none;
    &:hover {
      background-color: $colorTextLinkHover;
      background-image: none;
      box-shadow: none;
      color: $colorTextReverse;
    }
    &.nextpostslink,
    &.previouspostslink {
      background: transparent;
      box-shadow: none;
      &:hover {
        color: $colorTextLinkHover;
      }
    }
  }
  span {
    &.pages {
      border: none;
      background-color: transparent;
      color: $colorTextMain;
    }
    &.current {
      border: none;
      background-color: transparent;
      color: $colorTextMain;
      font-weight: $fontWeightBold;
    }
    &.extend {
      border: none;
      background-color: transparent;
      color: $colorTextMain;
    }
  }
}

.pagelink {
  word-spacing: 0.5rem;
  a {
    border-radius: 1.2rem;
    box-shadow: 0 -1px 0.3rem rgba(#000, 0.3), inset 0 -1px 0.3rem rgba(#fff, 0.8);
    color: $colorTextLink;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    display: inline-block;
    margin: 0 0.2rem;
    padding: 0.2rem 0.6rem;
    width: auto;
    &:hover {
      background-color: $colorTextLinkHover;
      background-image: none;
      box-shadow: none;
      color: $colorTextReverse;
    }
  }
}

// Single post, page navigation
#post-navigation,
#page-navigation {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  z-index: 400;
  padding: 0.5rem 2rem 1rem;
  margin-bottom: -1.5rem;
  background: #eee;
  .col.nav-prev {
    flex: 0 1 auto;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .col.nav-next {
    flex: 0 1 auto;
    align-items: flex-end;
    justify-content: flex-end;

  }
}

.nav-prev {
  text-align: left;
  position: relative;
  padding-left: 2rem;
  svg.arrow-left {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -0.1rem;
    left: 0;
    fill: $colorTextMeta;
  }
}

.nav-next {
  text-align: right;
  position: relative;
  padding-right: 2.5rem;
  svg.arrow-right {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -0.1rem;
    right: 0;
    fill: $colorTextMeta;
  }
}