/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles posts
 */

.post {
  border-top: 1px solid $colorBorder;
  margin-top: 2.2rem;
  padding-top: 1rem;
  &:first-of-type {
    border: none;
    margin-top: 1.2rem;
  }
}

.single .post {
  margin-top: 0;
  padding-top: 0;
  background: transparent;
}

// Post meta
.byline {
  color: $colorTextMeta;
}

.post-header {
  margin-bottom: 1.5rem;
  @include clearfix();
}

.post-title {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.entry-content {
  @include clearfix();
}

.entry-meta {
  color: $colorTextMeta;
  font-size: 0.833rem;
  margin: 1rem 0 0.5rem;
  font-weight: $fontWeightBold;
  line-height: 1.7;
  //a {
    //text-decoration: none;
    //border-bottom-color: transparent;
    //&:hover {
      //text-decoration: underline;
      //border-bottom-color: $colorTextLinkHover;
    //}
  //}
  span.date,
  span.author,
  span.categories,
  span.tags,
  span.comments,
  span.zoom {
    position: relative;
    padding-left: 1.8rem;
    padding-right: 1rem;
    // white-space: nowrap;
  }
  span.date {
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 1.2rem;
      height: 1.2rem;
      fill: $colorTextMeta;
    }
  }
  span.author {
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 1.2rem;
      height: 1.2rem;
      fill: $colorTextMeta;
    }
  }
  span.categories {
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 1.2rem;
      height: 1.2rem;
      fill: $colorTextMeta;
    }
  }
  span.tags {
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 1.2rem;
      height: 1.2rem;
      fill: $colorTextMeta;
    }
  }
  span.comments {
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 1.2rem;
      height: 1.2rem;
      fill: $colorTextMeta;
    }
  }
}

a.more-link {
  text-decoration: none;
}

.sticky {
  background: $colorBackCallout;
}

/* Entry content */

video,
object {
  max-width: 100%;
  height: auto;
}

pre {
  background: $colorBackSidebar;
  border: 0.1rem solid $colorBorder;
  padding: 1rem;
}

.wp-audio-shortcode {
  button {
    box-shadow: none !important;
  }
  a {
    border-bottom: none;
  }
}

.fluid-width-video-wrapper {
  margin-top: 2rem;
}

// Author bios
.author-info {
  background: $colorBackSidebar;
  padding: 1.5rem;
  display: flex;
  margin: 1rem auto;
  flex-flow: row wrap;
  justify-content: space-between;
  .author-avatar {
    flex: 0 0 auto;
    width: 100px;
    padding-right: 1rem;
  }
  img {
    margin: 0;
    border-radius: 50%;
  }
  .author-description {
    flex: 0 1 auto;
    width: 80%;
  }
  h5.author-name {
    font-family: $fontFamilySans;
    font-size: 1.266rem;
    color: $colorTextHead;
    text-transform: uppercase;
    margin-top: 0;
  }
  p#author-urls {
    margin-bottom: 0;
  }
}