/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles the search toggle
 */

#search {
  position: relative;
  display: block;
  margin-right: 2rem;
  height: 2rem;
  width: 2rem;

  svg.search {
    position: absolute;
    top: 50%;
    margin-top: -0.75rem;
    left: 0;
    z-index: 50;
    width: 1.5rem;
    height: 1.5rem;
    fill: $colorTextMenu;
  }

  form {
    margin: 0;
  }

  .search-field {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    border: none;
    cursor: pointer;
    line-height: 2rem;
    height: 2rem;
    width: 3rem;
    margin: 0;
    border-radius: 1rem;
    outline: 0;
    opacity: 0;
    //font-weight: $fontWeightBold;
    color: $colorTextMain;
    transition: width 400ms ease, background 400ms ease;
  }

  .search-field:focus,
  .search-field:focus-within {
    cursor: text;
    width: 12rem;
    max-width: unset;
    padding: 0.2rem 15px 0.2rem 15px;
    opacity: 1.0;
    outline: 0;
    box-shadow: inset 0.1rem 0.1rem 0.1rem rgba($colorShadow, 0.3), 0 0 0 0.1rem rgba($colorBorder, 0.8);
    background: $colorTextReverse;
    color: $colorTextMain;
  }

  .search-submit {
    display: none;
  }
}

span.highlight {
  background-color: $colorBackHighlight;
}