/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles outbound social media profile links
 */

#social-links.widget {
  text-align: center;
  background: transparent;

  ul {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    // max-height: 40px;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      line-height: 0;
      list-style: none;

      a {
        display: inline-block;
        text-decoration: none;
        width: 46px;
        height: 46px;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        text-decoration: none;

        svg {
          display: inline-block;
          transition: $transitionSpeed fill ease;
          width: 46px;
          height: 46px;
          // Uncomment below for monochrome icons
          fill: $colorTextLinkFooter;

          &:hover {
            fill: $colorTextLinkHoverFooter;
          }

          &:focus {
            outline: 1px dashed $colorTextLinkFocus;
          }

          &:focus:not(:focus-visible) {
            outline: 0;
          }

          &:focus-visible {
            outline: 1px dashed $colorTextLinkFocus;
          }

          // Uncomment below for branding colors on icons
          //&.facebook {
          //  fill: #3b5997;
          //  &:hover {
          //    fill: $colorTextLinkHover;
          //  }
          //}
          //&.instagram {
          //  fill: #38678E;
          //  &:hover {
          //    fill: $colorTextLinkHover;
          //  }
          //}
          //&.linkedin {
          //  fill: #0073b2;
          //  &:hover {
          //    fill: $colorTextLinkHover;
          //  }
          //}
          //&.pinterest {
          //  fill: #CB2027;
          //  &:hover {
          //    fill: $colorTextLinkHover;
          //  }
          //}
          //&.rss {
          //  fill: #e0812a;
          //  &:hover {
          //    fill: $colorTextLinkHover;
          //  }
          //}
          //&.skype {
          //  fill: #00aff0;
          //  &:hover {
          //    fill: $colorTextLinkHover;
          //  }
          //}
          //&.twitter {
          //  fill: #41b7d8;
          //  &:hover {
          //    fill: $colorTextLinkHover;
          //  }
          //}
          //&.vimeo {
          //  fill: #388fc5;
          //  &:hover {
          //    fill: $colorTextLinkHover;
          //  }
          //}
          //&.youtube {
          //  fill: #d64937;
          //  &:hover {
          //    fill: $colorTextLinkHover;
          //  }
          //}
        }

        span {
          @include hide-text();
          font-size: 0;
          line-height: 0;
        }
      }
    }
  }
}