/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles tables
 */

table {
  background-color: $colorBackTable;
}

caption {
  padding-top: $tableCellPadding;
  padding-bottom: $tableCellPadding;
  color: $colorTextMeta;
  text-align: left;
}

th {
  text-align: left;
  background: $colorBackTableReversed;
  color: $colorTextReverse;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $lineHeightBase;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $tableCellPadding;
        line-height: 1.25;
        vertical-align: top;
        border-top: 0.1rem solid $colorBorderTable;
        word-break: keep-all;
      }
    }
  }

  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0.2rem solid $colorBorderTable;
  }

  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }

  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 0.2rem solid $colorBorderTable;
  }

  // Nesting
  //table {
  //  background-color: $colorBackMain;
  //}
}

// Condensed table w/ half padding
.table-condensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $tableCondensedCellPadding;
      }
    }
  }
}

// Bordered version
//
// Add borders all around the table and between all the columns.
.table-bordered {
  border: 0.1rem solid $colorBorderTable;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 0.1rem solid $colorBorderTable;
      }
    }
  }

  > thead > tr {
    > th,
    > td {
      border-bottom-width: 0.2rem;
    }
  }
}

// Zebra-striping
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $colorAccentTable;
  }
}

// Striped block tables
.wp-block-table.is-style-stripes {
  border-top: 1px solid rgba($colorBorderTable, 0.5);

  tbody tr:nth-child(odd) {
    background: transparent;
  }

  tbody tr:nth-child(even) {
    background: $colorAccentTable;
  }
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping
.table-hover {
  > tbody > tr:hover {
    background-color: $colorBackTableHover;
  }
}

// Table cell sizing
// Reset default table behavior
table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}

table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }
  }
}

// Responsive table blocks
.wp-block-table,
.wp-block-table.is-style-stripes {
  margin-top: 1rem;
  margin-bottom: 1rem;
  table {
    width: 100%;
    min-width: 600px;
    overflow: auto;
    border: 1px solid rgba($colorBorderTable, 0.5);
    th,
    td {
      border-right: 1px solid rgba($colorBorderTable, 0.5);
    }
  }
}

/* Faux Tables - made from divs
   --------------------------------------------------- */

//.table {
//  background-color: $colorBackTable;
//  width: 100%;
//  max-width: 100%;
//  margin: 1rem auto;
//
//  .row {
//    margin: 0.5rem;
//    box-shadow: 1px 1px 4px rgba($colorShadow, 0.2);
//    background: $colorBackTable;
//  }
//
//  .cell {
//    padding: $tableCellPadding;
//    line-height: $lineHeightBase;
//    vertical-align: center;
//    margin: 0 1rem;
//    word-wrap: break-word;
//
//    &:before {
//      content: attr(data-header);
//      display: block;
//      color: $colorTextHead;
//      font-weight: $fontWeightBold;
//      font-size: 1rem;
//    }
//  }
//
//  .row.header {
//    display: none;
//  }
//}
//
//.table .row:nth-of-type(odd) {
//  background-color: $colorAccentTable;
//}