/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles testimonials widget
 */

#secondary .testimonial {
  blockquote {
    color: $colorTextReverse;
    background: rgba($colorTextReverse, 0.1);

    &:before {
      background: url('#{$image-url}/icon-quote.svg') no-repeat;
    }

    cite {
      color: $warmGrayLight;
    }
  }
}