/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles typography and base HTML elements
 */


body {
  @include font-smoothing(on);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamilyHead;
  text-rendering: optimizelegibility;
  font-weight: $fontWeightHead;
  margin: 1.424rem 0 0;
  line-height: 1.125;
  color: $colorTextHead;

  &.small-margin-top {
    margin-top: 0.493rem;
  }
}

.wp-block-media-text,
.wp-block-group,
.wp-block-cover {
  &.has-text-color {
    h1, h2, h3, h4, h5, h6 {
      color: unset;
    }
  }
}

h1,
h2,
h3 {
  &:first-child {
    margin-top: 0.889rem;

    &.re-margin-top {
      margin-top: 1.424rem;
    }

    &.no-margin-top {
      margin-top: 0;
    }

  }
}

h1 {
  font-size: $fontSizeH1;

  &#page-title,
  &#section-title,
  &#post-title {
    margin-top: 1rem;

    .wide & {
      text-align: center;
    }

    .page-template-cover-as-title & {
      display: none;
    }
  }
}

h2 {
  font-size: $fontSizeH2;

  &#section-title {
    font-size: 1.44rem;
    font-style: $fontStyleItalic;
  }
}

.archive {
  #section-title {
    text-align: center;
  }
}

h3 {
  font-size: $fontSizeH3;
}

h4 {
  font-size: $fontSizeH4;
}

h5 {
  font-size: $fontSizeH5;
}

h6 {
  font-size: $fontSizeH6;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

p {
  font-weight: $fontWeightNormal;
  font-size: $fontSizeP;
  line-height: $lineHeightBase;
  margin: 0.8rem 0 0.2rem;
}

strong {
  font-weight: $fontWeightBold;
}

em {
  font-style: $fontStyleItalic;
}

// Horizontal rule fades both sides
hr,
.wp-block-separator {
  margin: 2rem 0;
  display: block;
  clear: both;

  // For default rule but with better color
  // border-top: 1px solid $gray;
  // border-bottom: 1px solid $gray;

  // For fancy fading rule
  border: 0;
  height: 2px;
  @include hr-fancy();
}

/* Lists */

ul, ol {
  margin: 1.266rem 0 0.4rem;
  padding: 0;

  li & {
    margin: 0;
  }
}

.entry-content,
.widget {
  ul,
  ol {
    &:not([class~="size"]) {
      font-size: $fontSizeBase;
    }

    li {
      line-height: $lineHeightBase;
      margin: 0.5rem 0 0.5rem 1rem;
      padding: 0;
    }

    // Optional tight lists, add class in editor
    &.tight li {
      margin-top: 0;
      margin-bottom: 0;
    }

    // Optional loose lists, add class in editor
    &.loose li {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  ul > li {
    list-style: none;
    position: relative;

    &:before {
      content: '';
      background: url('#{$image-url}bullet.svg') no-repeat;
      display: inline-block;
      position: absolute;
      top: 0.65rem;
      left: -0.8rem;
      width: 6px;
      height: 6px;
    }
  }

  li ul > li:before {
    background-image: url('#{$image-url}bullet-square.svg');
  }

  li li ul > li:before {
    background-image: url('#{$image-url}bullet-diamond.svg');
    width: 9px;
    height: 9px;
    top: 0.55rem;
    left: -0.9rem;
  }

  form ul li,
  ul.wp-block-social-links li {
    margin-left: 0;

    &:before {
      display: none;
    }
  }

  ul.wp-block-social-links li {
    margin-right: 8px;
  }
}

.widget.woocommerce,
.widget#social-links {
  ul li:before {
    display: none;
  }

  li {
    padding: 0;
  }
}

.widget-title {
  margin-top: 0;
}

// Hyphenation
.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  text-align: right;
  display: block;

  em {
    hyphens: auto;
  }
}

// Private and protected pages indicator
h1 span.private,
h1 span.protected {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: transparent url('#{$image-url}icon-locked.svg') no-repeat;
}

// Class to use in blocks for right-to-left text
.rtl-content {
  text-align: right;
  direction: rtl;
}

// Yoast FAQ blocks
.schema-faq-question,
.scheme-faq-answer {
  font-size: $fontSizeP;
  line-height: $lineHeightBase;
  margin: 0.8rem 0 0.2rem;
}

.schema-faq-question {
  display: block;
  margin: 1.424rem 0 0;
}

.schema-faq-answer {
  margin-left: 1.5rem;
}