/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Adds helpers and utilities
 */

.fade-block {
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: opacity;
  &.transition-in {
    opacity: 0;
    transform: translateY(5rem);
  }
}

.fadeIn {
  opacity: 1;
  transition: opacity .5s;
}

.fadeOut {
  opacity: 0;
  transition: opacity .5s;
}

// Device-specific display
.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}
