/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles widgets
 */

#secondary {
  background: transparent;
  padding: 2rem 0;
  h1,
  h2,
  h3,
  h4 {
    // font-size: 1.44rem;
    color: $colorTextSidebarHead;
    // font-weight: $fontWeightBold;
  }
  .widget {
    // background: $colorBackSidebar;
    // border: 0.1rem solid $colorBorderSidebar;
    // padding: 1rem;
    // border-radius: 0.1rem;
    // margin: 2.5rem auto;
    width: 80%;
  }
}

#secondary .widget_tag_cloud {
  a {
    text-decoration: none;
  }
}