/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles for monitors 1240px wide and up
 */

/* Header
   --------------------------------------------------- */

ul.primary-menu,
.offside-js--is-open ul.primary-menu {
  > li.mega-menu-item > ul.sub-menu,
  > li.mega-menu-item.open > ul.sub-menu {
    left: 8%;
    right: 8%;
  }
}

/* Layout
   --------------------------------------------------- */

// Wide block for wider screens
.alignwide {
  margin-left: -150px;
  margin-right: -150px;
  max-width: 77rem;
}

.content {
  width: 72rem;
}

/* Posts
   --------------------------------------------------- */



/* Cards
   --------------------------------------------------- */

.cards {
  .card {
    //margin: 0 10px 10px;
    width: 31%;
  }
}

.cards.blog {
  .card {
    width: 31%;
  }
}

// .testimonial-cards {
//   column-count: 3;
// }



/* Images
   --------------------------------------------------- */

// .gallery {
//   column-count: 3;
//   .gallery-item {

//   }
// }


/* Typography
   --------------------------------------------------- */


/* Sidebar
   --------------------------------------------------- */


/* Footer
   --------------------------------------------------- */


/* WooCommerce
   --------------------------------------------------- */

//.woocommerce ul.products[class*=columns-] li.product,
//.woocommerce-page ul.products[class*=columns-] li.product {
//  width: 30%;
//}