/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles for monitors 1620px wide and up
 */

/* Header
   --------------------------------------------------- */

ul.primary-menu,
.offside-js--is-open ul.primary-menu {
 > li.mega-menu-item > ul.sub-menu,
  > li.mega-menu-item.open > ul.sub-menu {
    left: 10%;
    right: 10%;
  }
}


/* Layout
   --------------------------------------------------- */

// Wide block for wider screens
//.alignwide {
//  margin-left: -200px;
//  margin-right: -200px;
//  max-width: 101rem;
//}

//.content {
//  width: 101.25rem;
//}

/* Posts
   --------------------------------------------------- */


/* Cards
   --------------------------------------------------- */


/* Images
   --------------------------------------------------- */


/* Typography
   --------------------------------------------------- */


/* Sidebar
   --------------------------------------------------- */


/* Footer
   --------------------------------------------------- */


/* WooCommerce
   --------------------------------------------------- */

