/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles for monitors 2000px wide and up
 */

/* Header
   --------------------------------------------------- */

ul.primary-menu,
.offside-js--is-open ul.primary-menu {
  > li.mega-menu-item > ul.sub-menu,
  > li.mega-menu-item.open > ul.sub-menu {
    left: 23%;
    right: 23%;
  }
}

// If using custom header image as background
// #site-header {
//   img {
//     top: -50px;
//   }
// }

/* Layout
   --------------------------------------------------- */

//.content {
//  width: 125rem;
//}

/* Posts
   --------------------------------------------------- */


/* Cards
   --------------------------------------------------- */

// .testimonial-cards {
//   column-count: 4;
// }


/* Images
   --------------------------------------------------- */


/* Typography
   --------------------------------------------------- */


/* Sidebar
   --------------------------------------------------- */


/* Footer
   --------------------------------------------------- */


/* WooCommerce
   --------------------------------------------------- */

