/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles for monitors 481px wide and up
 */


/* Header
   --------------------------------------------------- */

// #site-description {
//   color: $colorTextHead;
//   font-weight: $fontWeightNormal;
//   text-align: right;
// }

/* Layout
   --------------------------------------------------- */


/* Posts
   --------------------------------------------------- */


/* Cards
   --------------------------------------------------- */


/* Images
   --------------------------------------------------- */


/* Typography
   --------------------------------------------------- */


/* Sidebar
   --------------------------------------------------- */


/* Footer
   --------------------------------------------------- */


/* WooCommerce
   --------------------------------------------------- */

// .store-cards {
//   column-count: 2;
//   column-gap: 1rem;
//   padding: 1rem;

//   .store-card {
//     display: inline-block;
//     margin: 0.5rem 0;
//     width: 100%;
//     overflow: hidden;
//   }
// }