/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles for monitors 600px wide and up
 */

/* Header
   --------------------------------------------------- */


/* Layout
   --------------------------------------------------- */

.wp-block-column {
  flex-grow: 1;
}

// Overrides default column blocks that are too narrow.
//.wp-block-columns.customclass {
//  flex-wrap: wrap;
//
//  .wp-block-column {
//    min-width: 300px;
//  }
//}

/* Posts
   --------------------------------------------------- */


/* Cards
   --------------------------------------------------- */


/* Images
   --------------------------------------------------- */

// Block image support
.wp-block-image {
  &.alignleft {
    margin: 1rem 2rem 1rem 0;
    float: left;
    clear: unset;
    width: auto;
    img {
      width: auto;
    }
  }
  &.alignright {
    margin: 1rem 0 1rem 2rem;
    float: right;
    clear: unset;
    width: auto;
    img {
      width: auto;
    }
  }
  &.aligncenter {
    margin: 2rem auto;
    width: auto;
    img {
      width: auto;
    }
  }
}


// Legacy image support
img {
  &.alignleft,
  &.alignright {
    width: auto;
    clear: unset;
  }
  &.alignleft {
    margin: 1rem 2rem 1rem 0;
    float: left;
  }
  &.alignright {
    margin: 1rem 0 1rem 2rem;
    float: right;
  }
  &.aligncenter {
    margin: 2rem auto;
  }
  &.alignnone {
    margin: 1rem auto;
  }
}

figure.wp-caption {
  width: auto;
  display: block;
  clear: unset;
  margin: 1rem 0.5rem;
}

//.attachment img,
//.widget-area img {
//
//}

/* Typography
   --------------------------------------------------- */


/* Sidebar
   --------------------------------------------------- */


/* Footer
   --------------------------------------------------- */


/* WooCommerce
   --------------------------------------------------- */

// .store-cards {
//   column-count: 3;
// }

/* Gravity Forms
   --------------------------------------------------- */
