/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles for monitors 768px wide and up
 */

/* Header
   --------------------------------------------------- */

// If using custom header image as background
// #site-header {
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   overflow: hidden;
//   z-index: 1;
//   @include overlay-screen();

//   img {
//     width: 100%;
//     height: auto;
//     position: relative;
//     top: 0;
//   }
// }

// #site-description {
//   color: $colorTextReverse;
//   padding: 0.25rem 1rem;
//   margin: 0.5rem 0 0;
//   background-color: rgba($colorShadow, 0.6);
// }


/* Layout
   --------------------------------------------------- */

article {
  max-width: 45rem;
  padding: 0;
  margin: 0 auto;

  .wide & {
    width: auto;
    max-width: none;
  }

  .sidebar & {
    max-width: none;
    padding: 0 2rem;
  }

  .woocommerce & {
    max-width: 60rem;
    padding: 0 1rem;
  }

}

.wide article.error-page {
  max-width: 45em;
  padding: 0;
}

.wp-block-group.alignfull {
  > .wp-block-group__inner-container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Posts
   --------------------------------------------------- */


/* Cards
   --------------------------------------------------- */

// main .cards {
//   .card {

//   }
// }

/* Images
   --------------------------------------------------- */


/* Typography
   --------------------------------------------------- */

#secondary h1 {
  font-size: 1.4rem;
}


/* Sidebar
   --------------------------------------------------- */


/* Footer
   --------------------------------------------------- */



/* WooCommerce
   --------------------------------------------------- */

// .store-cards {
//   column-count: 3;
// }

//.woocommerce ul.products[class*=columns-] li.product,
//.woocommerce-page ul.products[class*=columns-] li.product {
//  width: 48%;
//}

/* Faux Tables
   --------------------------------------------------- */

//.table {
//  display: flex;
//  flex-flow: row wrap;
//
//  form {
//    flex: 1 0 33%;
//    justify-content: stretch;
//    align-items: stretch;
//
//    .cell {
//      overflow: hidden;
//      text-overflow: ellipsis;
//    }
//  }
//}

/* Gravity Forms
   --------------------------------------------------- */