/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles responsive mega-menu for monitors 972px wide and up
 */

#access {
  background: $colorBackMenu;
  position: relative;
  z-index: 5000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0.3rem 0;
  min-height: $menuHeight;

  // Sticky menu
  &[data-scroll='in'] {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    background-color: rgba($colorBackMenu, 0.9);
    box-shadow: 0 6px 3px -3px rgba(#000, 0.3);

    .admin-bar & {
      top: 32px;
    }

    // Prevents page jump as #branding element is removed from flow.
    & + #primary {
      padding-top: $menuHeight;
    }
  }
}

#open-menu,
#close-menu {
  display: none;
}

.main-menu-bucket {
  display: flex;
}

// Primary menu
ul.primary-menu,
.offside-js--is-open ul.primary-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  background: transparent;
  box-shadow: unset;

  li {
    display: block;
    width: auto;
    margin: 0 0 0 0.5rem;
    padding: 0;
    list-style: none;
    position: relative;
    line-height: 1;
    border-radius: 0.1rem;
    background-color: $menuBack;
    white-space: nowrap;
    transition: background-color .3s;

    &:hover,
    &:focus,
    &:active {
      background-color: $menuBackHover;
    }

    // All links in menu
    a {
      display: block;
      position: relative;
      line-height: 1.1;
      padding: $menuItemVerticalSpace $menuItemHorizontalSpace $menuItemVerticalSpace + 0.1rem; // Bottom padding accommodates line-height.
      text-decoration: none;
      color: $menuFont;
      font-size: $menuFontSize;
      font-family: $menuFontFamily;
      font-style: $menuFontStyle;
      font-weight: $menuFontWeight;
      border: none;
      cursor: pointer;
      transition: color .3s;

      &:hover {
        color: $menuFontHover;
      }
    }
  }

  // Current and ancestor
  li.current-menu-item,
  li.current-menu-ancestor,
  li.current-menu-parent,
  li li.current-menu-item,
  li li.current-menu-ancestor,
  li li.current-menu-parent,
  > li > ul.sub-menu li.current-menu-item {
    background-color: $menuBackCurrent;

    &:hover,
    &:focus,
    &:active {
      background-color: $menuBackCurrentHover;
    }

    a {
      color: $menuFontCurrent;

      &:hover {
        color: $menuFontCurrentHover;
      }
    }
  }

  // Separate styles for top-level item with subs open
  // li.menu-item-has-children,
  // li.menu-item-has-children.current-menu-item {

  //   &:hover,
  //   &:focus,
  //   &:active {
  //     background: transparent;

  //     > a {
  //       color: $colorTextLink;

  //     }
  //   }
  // }


  // Drop menu overall
  > li > ul.sub-menu {
    @include menu-closed();
    position: absolute;
    top: 2.5rem;
    left: 0;
    margin: 0;
    padding-top: $menuItemVerticalSpace;
    padding-bottom: $menuItemVerticalSpace;
    z-index: 99;
    min-width: 10rem;
    background-color: $menuBackDrop;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba($colorShadow, 0.4);

    > li {
      margin: 0;
      border-radius: 0;

      // Enlarges clickable area beyond text
      display: block;

      // Different styles on hovered submenu items (optional)
      //&:hover,
      //&:focus,
      //&:active {
      //  background-color: #0e6085;
      //}

      // Enlarges clickable area beyond text
      a {
        display: block;
        font-weight: $menuFontWeight;
        padding: $menuItemVerticalSpace $menuItemHorizontalSpace $menuItemVerticalSpace + 0.1rem; // Bottom padding accommodates line-height.

        // Different color for submenu links (optional)
        color: $menuFont;

        &:hover,
        &:focus,
        &:active {
          color: $menuFont;
          background: $menuBackHover;
        }
      }

      &.menu-item-has-children {
        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
        }

        li {
          margin-left: 0;
        }
      }
    }

    // Small arrow on top of sub-menu box
    &::before {
      position: absolute;
      top: -0.45rem;
      left: 1rem;
      display: inline-block;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid $menuBackDrop;
      border-left: 0.5rem solid transparent;
      content: '';
    }
  }

  // Mega-menus - Top-level menu item gets class 'mega-menu-item' and a width class such as 'five-wide'.
  // Each column starts with a level-2 sub-menu null link named 'Column 1', 'Column 2' and so forth with a class 'mega-column'.
  // A sub-heading is a leve-3 sub-menu null link with a class 'mega-subhead'.
  // Links in each column are level-4 sub-menu items.
  // Sub-sub-headings can be inserted at same level as links by using null links with class 'mega-subsubhead'.
  // Artificial indents can be applied at same level as links by adding class 'mega-indent'.
  > li.mega-menu-item {
    position: static;

    > ul.sub-menu {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      top: 2.8rem;
      left: 5%;
      right: 5%;

      &:before {
        display: none;
      }

      .mega-head > ul {
        display: block;
      }

      li[class*='head'],
      li[class*='head'] > a,
      li[class*='head'].current-menu-item > a,
      li[class*='head'].current-menu-ancestor > a,
      li[class*='head'].current-menu-parent > a {
        cursor: default;
        color: $menuMegaHead;
        font-weight: $menuFontWeight;
        font-style: $fontStyleItalic;
        font-size: $fontSizeP;

        &:hover,
        &:focus,
        &:active {
          background: transparent;
          color: $menuMegaHead;
        }
      }

      li.mega-subsubhead a {
        font-weight: $fontWeightNormal;
      }

      li.mega-indent a {
        padding-left: 1.25rem;
      }

      li {
        white-space: normal;
      }
    }
  }

  // The number of level-2 sub-menu items with class 'mega-head' must match.
  > li.mega-menu-item.two-wide > ul.sub-menu > li.mega-head,
  > li.mega-menu-item.two-wide > ul.sub-menu > li.mega-column {
    flex-basis: 48%;
    width: 48%;
  }

  > li.mega-menu-item.three-wide > ul.sub-menu > li.mega-head,
  > li.mega-menu-item.three-wide > ul.sub-menu > li.mega-column {
    flex-basis: 33%;
    width: 33%;
  }

  > li.mega-menu-item.four-wide > ul.sub-menu > li.mega-head,
  > li.mega-menu-item.four-wide > ul.sub-menu > li.mega-column {
    flex-basis: 25%;
    width: 25%;
  }

  > li.mega-menu-item.five-wide > ul.sub-menu > li.mega-head,
  > li.mega-menu-item.five-wide > ul.sub-menu > li.mega-column {
    flex-basis: 20%;
    width: 20%;
  }

  > li.mega-menu-item.six-wide > ul.sub-menu > li.mega-head,
  > li.mega-menu-item.six-wide > ul.sub-menu > li.mega-column {
    flex-basis: 16%;
    width: 16%;
  }

  // Display submenu on hover
  > li.open > ul.sub-menu {
    @include menu-open();
  }

  // Display mega-menu on hover
  > li.mega-menu-item.open > ul.sub-menu {
    display: flex;

    .mega-head > .sub-menu {
      display: block;
    }
  }

  // Arrows for top-level items with sub-menus
  > li.menu-item-has-children > a {
    padding-right: 2rem;

    &:after {
      content: '';
      position: absolute;
      width: 13px;
      height: 13px;
      top: 38%;
      right: 0.8rem;
      background: url('#{$image-url}icon-down-nav.svg') no-repeat;
    }
  }

  > li.menu-item-has-children.open > a:after {
    width: 16px;
    height: 16px;
    top: 33%;
    right: 0.6rem;
    background-image: url('#{$image-url}icon-close-menu.svg');
  }

  // Prevents super tall sub-menus
  @media only screen and (max-height: 800px) {
    ul.primary-menu,
    .offside-js--is-open ul.primary-menu {

      > li.mega-menu-item.five-wide > ul.sub-menu {

        > li {

          a {
            font-size: 0.9rem;
            padding: $menuItemVerticalSpaceLess 0.6rem;
          }
        }
      }
    }
  }

  // Special menu item highlight
  //li.menu-item-special,
  //li.menu-item-special.current-menu-item {
  //  background-color: rgba($colorShadow, 0.3);
  //
  //  &:hover,
  //  &:focus,
  //  &:active {
  //    background-color: $menuBackHover;
  //  }
  //
  //  &:focus-within {
  //    background-color: $menuBackHover;
  //  }
  //}
}

//Search toggle
#search {
  margin-left: $menuItemHorizontalSpace;
}

//// animated underlines
//ul.primary-menu li a {
//  padding: $menuItemVerticalSpace 0;
//  margin: 0 $menuItemHorizontalSpace;
//
//  &:before {
//    content: '';
//    position: absolute;
//    width: 100%;
//    height: 0.1rem;
//    bottom: 0;
//    left: 0;
//    background-color: $menuFont;
//    visibility: hidden;
//    transform: scaleX(0);
//    transition: all $transitionSpeed ease-in-out 0s;
//  }
//
//  &:hover {
//    color: $menuFont;
//
//    &:before {
//      visibility: visible;
//      transform: scaleX(1);
//    }
//  }
//}
//
//// Removes animated hover lines on touch screens
//@media (hover: none) {
//  .primary-menu a:hover:before {
//    visibility: hidden;
//    transform: scaleX(0);
//  }
//}

// Home page icon
//.primary-menu li.menu-item-home,
//.primary-menu li.menu-item-home.current-menu-item {
//  a {
//    display: block;
//    text-indent: 101%;
//    overflow: hidden;
//    white-space: nowrap;
//    width: 1.6rem;
//    padding: 0.6rem 0;
//    margin-right: 0.6rem;
//    transition: $transitionSpeed opacity;
//
//    &:before {
//      content: '';
//      background: url('#{$image-url}/icon-home.svg') center center no-repeat;
//      display: block;
//      height: 1.6rem;
//      width: 1.6rem;
//      position: absolute;
//      top: 0.4rem;
//      left: 0;
//    }
//
//    &:hover {
//      opacity: 0.6;
//      background: transparent;
//    }
//  }
//}