/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles for monitors 972px wide and up
 */

/* Header
   --------------------------------------------------- */

// If using custom header image as background
// #branding {
//   height: 200px;
// }

// #site-header {
//   max-height: 200px;
// }

// #site-description {
//   margin: 0;
// }

// Sticky header - use instead of sticky nav
//#branding {
//  height: 195px;
//  z-index: 5000;
//
//  &[data-scroll='in'] {
//    position: fixed;
//    top: 0;
//    margin: 0 auto;
//    width: 100%;
//    height: 55px;
//
//    .content {
//      background: transparent;
//    }
//
//    #site-title {
//      padding-top: 0;
//
//    }
//
//    #site-description {
//      display: none;
//    }
//
//    background-color: rgba($colorBackMenu, 0.9);
//
//    .admin-bar & {
//      top: 32px;
//    }
//
//    // Prevents page jump as #branding element is removed from flow.
//    & + #primary {
//      padding-top: 195px;
//    }
//  }
//}

/* Layout
   --------------------------------------------------- */

// Full-width block support
.alignfull {
  @include align-full();
}

// Wide-width block support
.alignwide {
  margin-left: -100px;
  margin-right: -100px;
  max-width: 60rem;
}

.content {
  margin: 0 auto;
  display: flex;
  //justify-content: center;
  width: 60.75rem;

  .wide & {
    width: 100%;
  }
}

.inner {
  margin: 0 auto;
  padding: 0;
}


#branding {
  background: $colorBackMasthead;
  //min-height: 160px;
  .content {
    padding: 1%;
  }
}

.sidebar main {
  width: 65%;
  //flex: 0 1 auto;
}

article {
  .sidebar & {
    padding: 0 3rem 0 1rem;
  }

  .archive .sidebar &,
  .blog .sidebar & {
    padding: 1.5rem 0;

    &:first-of-type {
      padding: 0;
    }
  }
}

#primary {
  background: transparent;

  .content {
    // box-shadow: 15px 0.0rem 15px -15px $colorShadow, -15px 0.0rem 15px -15px $colorShadow;
  }
}

/* Posts
   --------------------------------------------------- */

// .entry-meta {
//   span.zoom {
//     display: inline-block;
//   }
// }

#comments {
  flex: 0 0 100%;
}

/* Cards
   --------------------------------------------------- */

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .card {
    flex-grow: 1;
    margin: 0 1% 2%;
    width: 48%;

    //figure {
    //  a {
    //    cursor: pointer;
    //  }
    //
    //  &:after {
    //    content: '';
    //    position: absolute;
    //    width: 32px;
    //    height: 32px;
    //    top: 0.5rem;
    //    right: 0.5rem;
    //    z-index: 1200;
    //    background: transparent url('#{$image-url}icon-zoom.svg') no-repeat;
    //    transition: $transitionSpeed opacity;
    //    opacity: 0;
    //  }
    //
    //  &:hover {
    //    &:after {
    //      opacity: 0.8;
    //    }
    //  }
    //}
    //
    //&:hover img {
    //  transform: scale(1.0);
    //}
    //
    //& img:hover {
    //  transform: scale(1.03);
    //}
  }
}

// .testimonial-cards {
//   column-count: 2;
//   column-gap: 2rem;
//   padding-left: 1rem;

//   .testimonial-card {
//     break-inside: avoid;
//     padding-top: 0.1rem; // Forces margin on top to prevent cutting off quote mark in columns.
//   }
// }

.cards.blog,
.cards.tags {
  .card {
    flex-grow: 0;
  }
}

// .getwid-columns.getwid-columns-2 > *,
// .getwid-columns.getwid-columns-3 > *,
// .getwid-columns.getwid-columns-4 > * {
//   margin-left: 1rem;
//   margin-right: 1rem;
// }

/* Images
   --------------------------------------------------- */

// Image links
a > img,
a > img.lazy-loaded {
  box-shadow: none;
  transition: $transitionSpeed box-shadow;

  &:hover {
    box-shadow: 0.1rem 0.2rem 0.6rem rgba($colorShadow, 0.8);
  }
}

figure a[href$='jpg'],
figure a[href$='jpeg'],
figure a[href$='png'],
figure a[href$='gif'] {
  cursor: pointer;
}

//.gallery {
//  column-count: 2;
//  column-gap: 10px;
//  .gallery-item {
//    display: inline-block;
//    margin: 0 0 10px;
//    width: 100%;
//    border: 0.2rem solid transparent;
//    .gallery-icon {
//      background: transparent;
//      &:after {
//        content: '';
//        position: absolute;
//        top: 5%;
//        left: 5%;
//        background: url('#{$image-url}zoom.svg') no-repeat;
//        width: 2rem;
//        height: 2rem;
//        opacity: 0;
//      }
//    }
//    img {
//      width: 100%;
//      margin-bottom: 0;
//      transition: $transitionSpeed transform ease 0s;
//    }
//    figcaption {
// Captions on hover
//position: absolute;
//bottom: -200px;
//color: #fff;
//margin: 0;
//right: 0;
//padding: 0;
//line-height: 1.3;
//transition: $transitionSpeed position ease;

// Captions without hover
//  position: relative;
//  bottom: 0;
//  margin: 0 auto;
//  right: 0;
//  left: 0;
//  line-height: 1.3;
//  padding: 0.3rem 0.5rem;
//}
//&:hover {
//  border: 0.2rem solid rgba(#fff, 0.6);
//  .gallery-icon {
//    background: $colorShadow;
//    &:after {
//      opacity: 0.9;
//    }
//  }
//  img {
//    opacity: 0.5;
//    transform: scale(1.1);
//  }

// Captions on hover
//figcaption {
//  bottom: 0;
//  padding: 0.3rem 0.5rem;
//  margin: 0;
//}

//    }
//    a img:hover {
//      cursor: pointer;
//    }
//  }
//}

/* Typography
   --------------------------------------------------- */

.callout {
  float: right;
  width: 40%;
  margin: 1rem 0 1rem 2rem;

  &.fullwidth {
    width: 100%;
    margin-left: 0;
    float: none;
  }
}

/* Sidebar
   --------------------------------------------------- */

#secondary {
  //flex: 0 0 auto;
  padding: 0 2rem;
  width: 35%;

  .widget {
    width: auto;
  }
}

/* Footer
   --------------------------------------------------- */

#colophon {
  // background: transparent url('#{$image-url}footer.png') 0 0 no-repeat;
  background: $colorBackFooter;

  .column {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 33%;
    text-align: left;
    margin: auto;
  }

  #logo-footer {
    margin: 1rem 0;

    a {
      margin: 0;
    }
  }
}

/* WooCommerce
   --------------------------------------------------- */

// .store-cards {
//   column-count: 4;
// }

/* Gravity Forms
   --------------------------------------------------- */

// Subfooter signup form
.signup {
  .gform_wrapper.gravity-theme {

    .gform_heading {
      width: 35%;
    }

    h2 {
      text-align: right;
      padding-right: 0.5rem;
      margin: 0;
    }

    form {
      width: 65%;

      .gform_body {
        width: 75%;
      }

      .gform_footer {
        width: 25%;
      }

    }
  }
}


/* Utilities
   --------------------------------------------------- */

/* Device-specific display */
.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

/* Faux Tables
   --------------------------------------------------- */

//.table {
//  width: 100%;
//  display: flex;
//  flex-flow: column nowrap;
//  flex: 1 1 auto;
//
//  form {
//    flex: none;
//  }
//
//  .row {
//    width: 100%;
//    margin: 0;
//    display: flex;
//    flex-flow: row nowrap;
//    box-shadow: none;
//  }
//
//  .cell {
//    justify-content: center;
//    padding: 0.25rem;
//    line-height: $lineHeightBase;
//    margin: 0;
//    width: auto;
//    display: flex;
//    flex-flow: row wrap;
//    flex-grow: 1;
//    flex-basis: 0;
//    word-break: break-word;
//    overflow: hidden;
//    text-overflow: ellipsis;
//    min-width: 0;
//    font-size: 1rem;
//
//    &:before {
//      display: none;
//    }
//  }
//
//  select {
//    font-size: 0.9rem;
//  }
//
//  .row.header {
//    display: flex;
//    flex-flow: row wrap;
//    background: #333;
//    color: #fff;
//    font-weight: $fontWeightBold;
//
//    .cell {
//      text-align: center;
//      vertical-align: bottom;
//      background: transparent;
//      font-size: 1rem;
//    }
//  }
//
//  input[type='submit'],
//  input[type='button'] {
//    font-size: 0.8rem;
//    display: inline-block;
//    margin: 0.2rem;
//  }
//}
//
//.table .row.header:nth-of-type(odd) {
//  background-color: #666;
//}

/* Slideshow
   --------------------------------------------------- */

//.slider figure {
//  height: 600px;
//}

//#slideshow {
//  position: relative;
//  .slide-caption {
//    position: absolute;
//    width: 60%;
//    left: 2rem;
//    top: 2rem;
//    padding: 1.25rem;
//    border-radius: 0.2rem;
//    margin: 0 auto;
//    font-size: 1rem;
//    color: rgba($colorBackMain, 0.8);
//  }
//}