/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles the site header for desktop screens
 */

#branding {
  height: 195px;

  .content {
    padding: 0;
  }

  #identity {
    min-height: 0;
  }

  #site-description {
    flex: 0 0 auto;
    margin: -1rem 0 0 10rem;
  }
}

#site-title a {
  padding-top: 0.5rem;
}

#logo {
  max-width: 440px;
}

#access {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  flex-shrink: 0;
  padding: 0.4rem 0 0.4rem;
  width: auto;
}

#search {
  margin-right: 0;
}

// Masthead binds sticky elements into single context
#masthead {
  height: $mastheadHeight;
  z-index: 5000;

  .content {
    position: relative;
  }

  // Sticky
  &[data-scroll='in'] {
    position: fixed;
    z-index: 6000;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 55px;
    box-shadow: 0 3px 6px rgba(#000, 0.4);

    #branding {
      height: 55px;

      .content {
        padding: 0.25rem 0 0 0;
        background: transparent;
        height: auto;
        justify-content: flex-start;
      }

      #identity {
        height: auto;
        min-height: 0;
      }

      #site-title a {
        padding: 0;
      }

      #logo {
        max-width: 270px;
        margin-top: 0;
        height: auto;
      }

      #site-description {
        display: none;
      }

      background-color: transparent;

    }

    #access {
      position: absolute;
      top: 0;
      margin: 0 auto;
      width: 100%;
      background-color: transparent;
      justify-content: flex-end;
    }

    // Prevents page jump as #branding element is removed from flow.
    & + #primary {
      padding-top: $mastheadHeight;
    }
  }

}

.admin-bar #masthead[data-scroll='in'] {
  top: 32px;
}

#open-menu,
#close-menu {
  display: none;
}