/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles navigation menus for monitors 972px wide and up
 */

#access {
  background: $colorBackMenu;
  position: relative;
  z-index: 5000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0.3rem 0;
  min-height: $menuHeight;

  // Sticky menu
  &[data-scroll='in'] {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    background-color: rgba($colorBackMenu, 0.9);
    box-shadow: 0 6px 3px -3px rgba(#000, 0.3);

    .admin-bar & {
      top: 32px;
    }

    // Prevents page jump as #branding element is removed from flow.
    & + #primary {
      padding-top: $menuHeight;
    }
  }
}

#open-menu,
#close-menu {
  display: none;
}

.main-menu-bucket {
  display: flex;
}

// Primary menu
ul.primary-menu,
.offside-js--is-open ul.primary-menu {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  background: transparent;
  box-shadow: unset;

  li {
    display: block;
    width: auto;
    margin: 0 0 0 0.5rem;
    padding: 0;
    list-style: none;
    position: relative;
    line-height: 1;
    border-radius: 0.1rem;
    background-color: $menuBack;
    white-space: nowrap;
    transition: background-color .3s;

    &:hover,
    &:focus,
    &:active {
      background-color: $menuBackHover;
    }

    &:focus-within {
      background-color: $menuBackHover;
    }

    // All links in menu
    a {
      display: block;
      position: relative;
      line-height: 1.1;
      padding: $menuItemVerticalSpace $menuItemHorizontalSpace $menuItemVerticalSpace + 0.1rem; // Bottom padding accommodates line-height.
      text-decoration: none;
      color: $menuFont;
      font-size: $menuFontSize;
      font-family: $menuFontFamily;
      font-style: $menuFontStyle;
      font-weight: $menuFontWeight;
      border: none;
      cursor: pointer;
      transition: color .3s;

      //     // Animated underlines
      //     padding: $menuItemVerticalSpace 0;
      //     margin: 0 $menuItemHorizontalSpace;

      //     &:before {
      //       content: '';
      //       position: absolute;
      //       width: 100%;
      //       height: 2px;
      //       bottom: 0.3rem;
      //       left: 0;
      //       background-color: $menuFontHover;
      //       visibility: hidden;
      //       transform: scaleX(0);
      //       transition: all $transitionSpeed ease-in-out 0s;
      //     }

      //     &:hover,
      //     &:focus {
      //       //color: $menuFontHover;

      //       // animated underlines
      //       color: $menuFontHover;

      //       &:before {
      //         visibility: visible;
      //         transform: scaleX(1);
      //       }
      //     }

      //     &:focus {
      //       outline: 1px dashed $colorTextLinkFocus;
      //     }

      //     &:focus:not(:focus-visible) {
      //       outline: 0;
      //     }

      //     &:focus-visible {
      //       outline: 1px dashed $colorTextLinkFocus;
      //     }

      //     &:focus-within {
      //       color: $menuFontHover;
      //     }
      //   }
      //   &:active {
      //     color: $menuFontHover;

      //     &:before {
      //       visibility: visible;
      //       transform: scaleX(1);
      //     }
      //   }
      // }

      // // Undo underlines on sub-menu and parent
      // li.menu-item-has-children,
      // ul.sub-menu > li {
      //   margin: 0;
      //   a {
      //     padding: $menuItemVerticalSpace $menuItemHorizontalSpace;

      //     &:before {
      //       display: none;
      //     }

      //     &:hover,
      //     &:focus,
      //     &:active {
      //       color: $menuFontHover;

      //       &:before {
      //         display: none;
      //       }
      //     }
      //   }
      //   &:hover,
      //   &:focus,
      //   &:active {
      //     background-color: $offWhite;
      //   }
      // }

      // Comment out till Current and ancestor section below for animated underlines.
      &:hover,
      &:focus,
      &:active {
        color: $menuFontHover;
      }

      &:focus-within {
        color: $menuFontHover;
      }
    }
  }

  // Current and ancestor
  li.current-menu-item,
  li.current-menu-ancestor,
  li.current-menu-parent,
  li li.current-menu-item,
  li li.current-menu-ancestor,
  li li.current-menu-parent {
    background-color: $menuBackCurrent;

    &:hover,
    &:focus,
    &:active {
      background-color: $menuBackCurrentHover;
    }

    &:focus-within {
      background-color: $menuBackCurrentHover;
    }

    > a {
      color: $menuFontCurrent;

      &:hover,
      &:focus,
      &:active {
        color: $menuFontCurrentHover;
      }

      &:focus-within {
        color: $menuFontCurrentHover;
      }
    }
  }

  // Drop menu overall
  li ul.sub-menu {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    top: 2.4rem;
    left: 0;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 99;
    min-width: 10rem;
    background-color: $menuBackDrop;
    box-shadow: -0.15rem -0.15rem 0.3rem 0 rgba($colorShadow, 0.5);

    > li {
      margin: 0;
      border-radius: 0;

      // Enlarges clickable area beyond text
      display: block;

      // Different styles on hovered submenu items (optional)
      &:hover,
      &:focus,
      &:active {
        //background-color: #0e6085;
      }

      &:focus-within {
        //background-color: #0e6085;
      }

      // Enlarges clickable area beyond text
      a {
        display: block;
      }

    }

    // Small arrow on top of sub-menu box
    &::before {
      position: absolute;
      top: -0.45rem;
      left: 1rem;
      display: inline-block;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid $menuBackDrop;
      border-left: 0.5rem solid transparent;
      content: '';
    }
  }

  // Display submenu on hover
  li:hover > ul.sub-menu,
  li ul.sub-menu:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  li:focus-within > ul.sub-menu {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  // Arrows for top-level items with sub-menus
  li.menu-item-has-children > a {
    padding-right: 2rem;

    &:after {
      content: '';
      position: absolute;
      width: 13px;
      height: 13px;
      background: url('#{$image-url}icon-down-nav.svg') no-repeat;
      top: 50%;
      margin-top: -4px;
      right: 0.8rem;
    }
  }

  // Special menu item highlight
  //li.menu-item-special,
  //li.menu-item-special.current-menu-item {
  //  background-color: rgba($colorShadow, 0.3);
  //
  //  &:hover,
  //  &:focus,
  //  &:active {
  //    background-color: $menuBackHover;
  //  }
  //
  //  &:focus-within {
  //    background-color: $menuBackHover;
  //  }
  //}
}

//Search toggle
#search {
  margin-left: $menuItemHorizontalSpace;
}

//// animated underlines
//ul.primary-menu li a {
//  padding: $menuItemVerticalSpace 0;
//  margin: 0 $menuItemHorizontalSpace;
//
//  &:before {
//    content: '';
//    position: absolute;
//    width: 100%;
//    height: 0.1rem;
//    bottom: 0;
//    left: 0;
//    background-color: $menuFont;
//    visibility: hidden;
//    transform: scaleX(0);
//    transition: all $transitionSpeed ease-in-out 0s;
//  }
//
//  &:hover {
//    color: $menuFont;
//
//    &:before {
//      visibility: visible;
//      transform: scaleX(1);
//    }
//  }
//}
//
//// Removes animated hover lines on touch screens
//@media (hover: none) {
//  .primary-menu a:hover:before {
//    visibility: hidden;
//    transform: scaleX(0);
//  }
//}

// Home page icon
//.primary-menu li.menu-item-home,
//.primary-menu li.menu-item-home.current-menu-item {
//  a {
//    display: block;
//    text-indent: 101%;
//    overflow: hidden;
//    white-space: nowrap;
//    width: 1.6rem;
//    padding: 0.6rem 0;
//    margin-right: 0.6rem;
//    transition: $transitionSpeed opacity;
//
//    &:before {
//      content: '';
//      background: url('#{$image-url}/icon-home.svg') center center no-repeat;
//      display: block;
//      height: 1.6rem;
//      width: 1.6rem;
//      position: absolute;
//      top: 0.4rem;
//      left: 0;
//    }
//
//    &:hover {
//      opacity: 0.6;
//      background: transparent;
//    }
//  }
//}