/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles sticky footer for monitors 972px wide and up
 */

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  body.admin-bar & {
    min-height: calc(100vh - 32px);
  }
}

#primary {
  flex: 1;
}