/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles the Gutenberg editor screen
 */

//@import 'inc/settings/variables';

$contentWidth: 45rem;

body {
  //background-color: $colorBackMain;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', 'Helvetica Neue', Helvetica, Cantarell, Ubuntu, Roboto, Noto, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.25;
  }

  h2 {
    font-size: 2.281rem;
  }

  h3 {
    font-size: 1.802rem;
  }

  h4 {
    font-size: 1.602rem;
  }

  h5 {
    font-size: 1.424rem;
  }

  h6 {
    font-size: 1.266rem;
  }

  .wp-block-image.bordered img {
    border: 1px solid #aaa;
  }

  .wp-block-media-text {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &.no-margin-top {
      margin-top: 0;
    }

    &.no-margin-bottom {
      margin-bottom: 0;
    }
  }

  .wp-block-group {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  // Fixes inconsistent core editor button styles.
  .wp-block-buttons {
    margin-bottom: 1rem;

    .wp-element-button {
      border-radius: 0.1rem;
    }

    .wp-block-button.is-style-outline {
      border: 2px solid;
    }
  }

  .wp-block-buttons.is-style-large .wp-block-button__link {
    font-size: 1.8rem;
    line-height: 1.2;
    padding: 1.25rem 2rem;
  }

  // Layout styles no longer needed with theme.json
  //.wp-block {
  //  max-width: 45rem;
  //  margin-left: auto;
  //  margin-right: auto;
  //}
  //
  //.wp-block[data-align="wide"],
  //.wp-block.alignwide {
  //  max-width: 60rem;
  //}
  //
  //.wp-block[data-align="full"],
  //.wp-block.alignfull {
  //  max-width: none;
  //}

}

// Hack to fix editor alignment bug: https://github.com/WordPress/gutenberg/issues/33385
.is-root-container > .alignleft {
  margin-left: max(0px, calc((100% - var(--wp--style--global--content-size)) / 2)) !important;
}

.is-root-container > .alignright {
  margin-right: max(0px, calc((100% - var(--wp--style--global--content-size)) / 2)) !important;
}

// Class to use in blocks for right-to-left text
.rtl-content {
  text-align: right;
  direction: rtl;
}