/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles for login screen
 */
@import 'inc/settings/variables';

#login h1 a {
  background-image: url('#{$image-url}login-logo.png');
  background-size: auto auto !important;

  // Keep it at default size (274 x 64)

  // width: auto;
  // margin: 0;

  // Make it square and centered

  width: 144px;
  height: 144px;
  margin: 0 auto;

}