/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles the site when printed
 */
@import 'inc/settings/sanitize';
@import 'inc/settings/variables';
@import 'inc/settings/mixins';
@import 'inc/base/blockquotes';

* {
  background: transparent;
  color: black;
  text-shadow: none;
}

body {
  font-family: $fontFamilySans;
  font-size: 80%;
  padding: 0.25in;
}

a,
a:visited {
  color: #0066cc;
  text-decoration: underline;

  // show links on printed pages
  // &:after {
  //   content: " (" attr(href) ")";
  // }

  // show title too
  // abbr[title]:after {
  //   content: " (" attr(title) ")";
  // }
}

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}

pre {
  border: 1px solid #999;
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}

tr,
img,
.wp-block-embed {
  page-break-inside: avoid;
}

@page {
  margin: 0.5cm;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}

p.has-large-font-size {
  font-size: $fontSizeP !important;
}

// hide content people who print don't need to see
#secondary,
.page-navigation,
.wp-prev-next,
.respond-form,
nav,
.skip-link,
#subfooter,
#logo-footer,
#footer-menu,
#footer-middle,
#scroll-to-top,
.edit-link,
.wp-block-cover__image-background {
  display: none;
}

.wp-block-cover,
.wp-block-group {
  background-color: transparent !important;

  * {
    color: black !important;
  }
}

.wp-block-button__link {
  background-color: #ddd;
}

// Header
#branding .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#site-title {
  margin: 0;
  line-height: 0;
  font-size: 0;
  justify-content: flex-start;
  align-items: center;

  a {
    display: block;
    padding: 0.5rem;

    span {
      @include hide-text();
    }
  }
}

#logo {
  margin: 0;
  width: 100%;
  height: auto;
  max-width: 20rem;
  fill: #888;
}

#site-description {
  font-size: $fontSizeH5;
  font-weight: $fontWeightHead;
  margin: 0;
  padding: 1rem;
  line-height: 1.125;
  color: $colorTextHead;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}


// Footer
#colophon {
  border-top: 1px solid #333;
  background: #eee;
  margin-top: 1rem;

  .content {
    padding: 1rem;
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    align-items: top;
    font-size: 80%;

    p {
      flex: 1 1 20%;
      margin-right: 1rem;
    }
  }

  .credit {
    text-align: center;

    a {
      text-decoration: none;
      font-size: 80%;
    }
  }
}


/* Images
   --------------------------------------------------- */

figure,
.wp-block-image {
  margin: 1.5rem auto;
}

img {
  max-width: 100%;
  height: auto;
}

// Block image support
.wp-block-image {
  .alignleft,
  .alignright,
  .aligncenter {
    max-width: 100%;
    height: auto;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border: none;
  }

  .alignleft {
    margin: 1rem 2rem 1rem 0;
    float: left;
    width: auto;
  }

  .alignright {
    margin: 1rem 0 1rem 2rem;
    float: right;
    clear: unset;
    width: auto;
  }

  .aligncenter {
    margin: 2rem auto;
    width: auto;
  }

  figcaption {
    text-align: center;
  }
}

// Legacy image support
img {
  &.alignleft,
  &.alignright,
  &.aligncenter,
  &.alignnone {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin: 1rem auto;
  }

  &.alignleft,
  &.alignright {
    width: auto;
    clear: unset;
  }

  &.alignleft {
    margin: 1rem 2rem 1rem 0;
    float: left;
  }

  &.alignright {
    margin: 1rem 0 1rem 2rem;
    float: right;
  }

  &.aligncenter {
    margin: 2rem auto;
  }

  &.alignnone {
    margin: 1rem auto;
  }
}

figure.wp-caption {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  clear: unset;
  margin: 1rem 0.5rem;
}

// Fixes column layout
.wp-block-column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.wp-block-column:not(:first-child) {
  margin-left: 2em;
}

.wp-block-columns {
  flex-wrap: nowrap;
}

// Fixes 3-wide gallery layout
.wp-block-gallery.has-nested-images.columns-3 figure.wp-block-image:not(#individual-image),
.wp-block-gallery.columns-3 .blocks-gallery-item { // Legacy gallery blocks
  width: calc(33.3333333333% - 0.6666666667em);
  margin-right: 1em;
}

.wp-block-gallery.has-nested-images.columns-3 figure.wp-block-image:nth-of-type(3n),
.wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n) { // Legacy gallery blocks
  margin-right: 0;
}