/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Compiles all the front end screen display style modules
 */
 
/* Settings
   --------------------------------------------------- */
@import 'inc/settings/sanitize';
@import 'inc/settings/variables';
@import 'inc/settings/mixins';
@import 'inc/settings/fallbacks';
@import 'inc/settings/fonts';
// @import 'inc/settings/base-colors';

/* Base
   --------------------------------------------------- */
@import 'inc/base/layout';
@import 'inc/base/buttons';
@import 'inc/base/blockquotes';
//@import 'inc/base/breadcrumbs';
@import 'inc/base/cards';
@import 'inc/base/comments';
@import 'inc/base/editor';
@import 'inc/base/footer';
@import 'inc/base/forms';
@import 'inc/base/header';
//@import 'inc/base/hero-image';
@import 'inc/base/images';
@import 'inc/base/links';
//@import 'inc/base/menu';
@import 'inc/base/megamenu';
@import 'inc/base/pagination';
@import 'inc/base/posts';
@import 'inc/base/search';
@import 'inc/base/social-links';
@import 'inc/base/tables';
//@import 'inc/base/testimonials';
@import 'inc/base/typography';
//@import 'inc/base/utilities';
@import 'inc/base/widgets';
// @import 'inc/multisite/site-specific';

/* Plugins
   --------------------------------------------------- */
@import 'inc/plugins/offside';
@import 'inc/plugins/gforms';
//@import 'inc/plugins/glide';
@import 'inc/plugins/glightbox';
// @import 'inc/plugins/google-maps';
// @import 'inc/plugins/accordions';
//@import 'inc/plugins/collapseomatic';
//@import 'inc/plugins/recent-posts';
@import 'inc/plugins/scrolling';
//@import 'inc/plugins/theeventscalendar';
//@import 'inc/plugins/toc';
//@import 'inc/plugins/woocommerce';

/* Responsive
   --------------------------------------------------- */

// LARGER MOBILE DEVICES
@media only screen and (min-width: 30.0625rem) {
  @import 'inc/responsive/481up';
  // @import 'inc/multisite/site-specific-481up';
}

// MEDIUM LARGE MOBILE DEVICES
@media only screen and (min-width: 37.5rem) {
  @import 'inc/responsive/600up';
  // @import 'inc/multisite/site-specific-600up';
}

// TABLET & SMALLER LAPTOPS
@media only screen and (min-width: 48rem) {
  @import 'inc/responsive/768up';
  // @import 'inc/responsive/menu-768up'; // Use this for vertical navigation in sidebar, and comment out 'menu-972up'
  // @import 'inc/multisite/site-specific-768up';
}

// AVERAGE DESKTOP
@media only screen and (min-width: 60.75rem) {
  @import 'inc/responsive/972up';
  //@import 'inc/responsive/972up-menu';
  @import 'inc/responsive/972up-megamenu';
  // @import 'inc/responsive/972up-header';
  @import 'inc/responsive/sticky-footer';
  // @import 'inc/multisite/site-specific-972up';
}

// LARGE VIEWING SIZE
@media only screen and (min-width: 77.5rem) {
  @import 'inc/responsive/1240up';
  // @import 'inc/multisite/site-specific-1240up';
}

// LARGER VIEWING SIZE
@media only screen and (min-width: 101.25rem) {
  @import 'inc/responsive/1620up';
  // @import 'inc/multisite/site-specific-1620up';
}

// SUPER LARGE VIEWING SIZE
@media only screen and (min-width: 125rem) {
  @import 'inc/responsive/2000up';
  // @import 'inc/multisite/site-specific-2000up';
}