/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Site specific styles for multi-sites using same theme
 */

/* Site 1
   --------------------------------------------------- */

.site-id-1 {


}

/* Site 2
   --------------------------------------------------- */

.site-id-2 {


}

/* Site 3
   --------------------------------------------------- */

.site-id-3 {

}