/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles accordion blocks - https://wordpress.org/plugins/accordion-blocks/
 */

// The accordion item container
.c-accordion__item {
  border-radius: $btnBorderRadius;
  padding: 0;
  margin: 0 auto;
}

// is-open is added to open accordion items
.c-accordion__item.is-open {
  background-color: $colorBackSidebar;
  .has-warm-gray-light-background-color & {
    background-color: $colorTextReverse;
  }
}

// is-read is added to accordion items that have been opened at least once
.c-accordion__item.is-read {

}

// An accordion item title
.c-accordion__title {
  margin: 0;
  padding: 1rem;
  font-family: $fontFamilySans;
  font-size: $fontSizeH6;
  color: $colorTextReverse;
  background-color: $colorTextLink;
  transition: $transitionSpeed background-color;
  border-radius: $btnBorderRadius;
  &:after {
    right: 1rem;
    color: $colorTextReverse;
    font-weight: $fontWeightBold;
  }
}

.is-open .c-accordion__title {
  background-color: $colorTextLinkHover;
}

// An accordion item title that is using a `<button>` tag
.c-accordion__title--button {

}

// To modify the style when hovering over an accordion item title
.c-accordion__title:hover {
  color: $colorTextReverse;
  background-color: $colorTextLinkHover;
  &:after {
    color: $colorTextReverse;
  }
}

// To modify the style when an accordion item title currently has browser focus
.c-accordion__title:focus {

}

// An accordion item content container
.c-accordion__content {
  padding: 0 1.5rem 1rem;
}

// Group block support
.wp-block-group {
  .wp-block-pb-accordion-item {
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      &:first-child {
        margin-top: 0.5rem;
      }

      &:last-child {
        margin-bottom: 0.5rem;
      }
    }
  }
}