/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles jQuery Collapse-o-matic elements
 */

.collapseomatic {
  background-image: url('#{$image-url}/icon-down.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  display: block;
}

.colomat-close {
  background-image: url('#{$image-url}/icon-up.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.collapseomatic {
  color: $colorTextLink;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding-bottom: 0;
  &:hover {
    color: $colorTextLinkHover;
  }
}

.faq-entry {
  clear: both;
}