/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles forms - thank you to https://clicknathan.com/web-design/better-gravity-forms-stylesheet-minified/ for ideas on the Gravity Forms reset.
 */

.gform_wrapper.gravity-theme {

  .gform_required_legend,
  .gfield .instruction {
    font-style: $fontStyleItalic;
  }

  .gform_required_legend {
    font-size: 1rem;
  }

  .gfield_label,
  fieldset {
    color: $colorTextHead;
    font-size: $fontSizeP;
    margin: 0.8rem 0 0.4rem;
    display: inline-block;
    //font-weight: $fontWeightBold;
  }

  /* Colors */
  .gfield_required,
  .warningTextareaInfo,
  .chosen-results .no-results,
  .ginput_container_fileupload span.screen-reader-text + div {
    color: #bf0421;
  }

  /* Price */
  .ginput_product_price,
  .ginput_container_total input,
  .ginput_shipping_price {
    color: green;
    padding: $formInputPadding;
  }

  .ginput_product_price {
    background: transparent;
  }

  /* Name Fields */
  .ginput_complex span label {
    padding: 0.25rem 0 0.75rem 0.25rem;
  }

  span {
    &.name_first,
    &.name_last,
    &.name_middle,
    &.name_prefix,
    &.name_suffix {
      width: 49%;
      float: left;
    }

    &.name_first {
      margin-right: 1%;
    }

    &.name_last {
      margin-left: 1%;
    }
  }

  .no_prefix {
    &.no_middle_name {
      &.no_last_name.no_suffix span.name_first label {
        display: none;
      }

      &.no_first_name.no_suffix span.name_last {
        label {
          display: none;
        }

        & {
          margin-left: 0;
        }
      }
    }

    &.has_first_name.has_middle_name.has_last_name.no_suffix span {
      &.name_first {
        width: 40%;
        margin-right: 1%;
      }

      &.name_middle {
        width: 18%;
      }

      &.name_last {
        width: 40%;
        margin-left: 1%;
      }
    }
  }

  .has_prefix.has_first_name.has_middle_name.has_last_name.no_suffix span {
    &.name_prefix {
      width: 10%;
    }

    &.name_first {
      width: 39%;
      margin-right: 1%;
    }

    &.name_middle {
      width: 10%;
    }

    &.name_last {
      width: 39%;
    }
  }

  .no_prefix.has_first_name.has_middle_name.has_last_name.has_suffix span {
    &.name_first {
      width: 38.5%;
      margin-right: 1%;
    }

    &.name_middle {
      width: 10%;
      margin-right: 1%;
    }

    &.name_last {
      width: 38.5%;
      margin-left: 0;
    }

    &.name_suffix {
      width: 10%;
      margin-left: 1%;
    }
  }

  .has_prefix.has_first_name {
    &.no_middle_name.has_last_name.has_suffix span {
      &.name_prefix {
        width: 10%;
      }

      &.name_first {
        width: 39%;
        margin-right: 1%;
      }

      &.name_last {
        width: 39%;
        margin-left: 0;
      }

      &.name_suffix {
        width: 10%;
        margin-left: 1%;
      }
    }

    &.has_middle_name.has_last_name.has_suffix span {
      &.name_prefix {
        width: 10%;
      }

      &.name_first {
        width: 33.5%;
        margin-right: 1%;
      }

      &.name_middle {
        width: 10%;
        margin-right: 1%;
      }

      &.name_last {
        width: 33.5%;
        margin-left: 0;
      }

      &.name_suffix {
        width: 10%;
        margin-left: 1%;
      }
    }
  }

  .field_sublabel_above span label {
    padding-bottom: 0;
  }

  /* Calendar */
  input.datepicker {
    width: auto;
  }

  .ui-datepicker[style] {
    z-index: 9999 !important;
  }

  .ginput_container_date img.ui-datepicker-trigger {
    display: inline-block;
    margin-left: 1rem;
  }


  /* Time */
  .ginput_container_time {
    float: left;
  }

  .hour_minute_colon {
    font-style: $fontStyleNormal;
    float: left;
    padding: 0 0.25rem;
  }

  .gfield_time_ampm {
    margin-left: 1%;
  }

  .gfield_time_ampm_shim {
    display: none;
  }

  .gfield_time_hour i {
    font-style: $fontStyleNormal;
    padding: 0 0.25rem 0 0.1rem;
  }

  /* Address */
  span {
    &.address_city,
    &.address_state,
    &.address_zip {
      float: left;
      width: 32%;
      margin-right: 1%;
    }

    &.address_city {
      width: 34%;
    }

    &.address_zip {
      margin-right: 0;
    }

    &.address_line_1,
    &.address_line_2 {
      display: block;
    }
  }

  .address_state select {
    width: 100%;
  }

  /* Email Address */
  .ginput_container_email {
    > span {
      float: left;
      width: 49.5%;
      margin-right: 0.5%;
    }

    span.ginput_right {
      margin-left: 0.5%;
      margin-right: 0;
    }
  }

  /* File Upload */
  .ginput_container_fileupload,
  .ginput_container_post_image {
    background: $colorBackFormInput;
    color: $colorTextFormInput;
    padding: 0.75rem;
    border-radius: $borderRadiusInput;
  }

  .ginput_container_total input,
  .ginput_product_price,
  .ginput_shipping_price {
    padding: 0;
    border: none;
    font-size: $fontSizeBase;
  }

  /* Error & Validation Messages */
  h2.gform_submission_error {
    color: #bf0421;
    font-size: $fontSizeH4;
  }

  .validation_error,
  .gfield_error,
  .gfield_error legend {
    background: #bf0421;
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 0;
    border-radius: $borderRadiusInput;
  }

  .validation_error {
    padding-top: 1rem;
  }

  .gfield_description.validation_message {
    position: absolute;
    top: -1.25rem;
    left: 1rem;
    background: black;
    border-radius: $borderRadiusInput;
    padding: 0.25rem 0.5rem;

    &:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      bottom: -5px;
      left: 1rem;
      border-top: 0.5rem solid black;
    }

    .ginput_container_creditcard & {
      background: transparent;

      &:before {
        border-color: transparent;
      }
    }
  }

  .gfield_error {
    position: relative;
    margin-top: 3rem;
    overflow: visible;

    .ginput_container_select:after {
      display: none;
    }

    .warningTextareaInfo {
      color: white;
    }

    .ginput_container_fileupload {
      color: black;
    }

    img.add_list_item {
      background-color: white;
      border-radius: 50%;
    }

    .gfield_label {
      color: $colorTextReverse;
    }
  }

  /* Form Heading */
  .gform_heading .gform_description {
    padding: 1rem 0;
    display: block;
  }

  /* Progress Bars & Paging */
  .gf_progressbar {
    position: relative;
    border-top: 0.5rem solid #efefef;
  }

  .gf_progressbar_percentage {
    color: white;
    border-top: 0.5rem solid #4480c3;
    position: relative;
    top: -5px;
    text-align: right;

    span {
      background: black;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.75;
      border-radius: $borderRadiusInput;
      border-top-right-radius: 0;
      font-size: .9rem;
      margin-top: 0.25rem;
      position: relative;
      text-align: center;
    }

    &.percentbar_0 span {
      border-top-right-radius: 0.3rem;
      border-top-left-radius: 0;
    }

    span:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-left: 0.5rem solid transparent;
      border-right: 0 solid transparent;
      top: -5px;
      right: 0;
      border-bottom: 0.5rem solid black;
    }

    &.percentbar_0 span:after {
      right: auto;
      left: 0;
      border-right: 0.5rem solid transparent;
      border-left: 0;
    }

    &.percentbar_red {
      border-color: #bf0421;
    }

    &.percentbar_green {
      border-color: green;
    }

    &.percentbar_gray {
      border-color: #666;
    }

    &.percentbar_orange {
      border-color: #e8641b;
    }

    &.percentbar_custom {
      border-color: transparent;
    }
  }

  .gf_progressbar_wrapper + .gform_body .gform_page_footer {
    padding-top: 2rem;
  }

  div.gform_confirmation_message {
    background: green;
    color: white;
    padding: $formInputPadding;
    margin: 1rem 0;
    border-radius: $borderRadiusInput;
  }

  body img.gform_ajax_spinner {
    display: block;
    margin: 1rem auto;
  }

  .gf_page_steps {
    display: table;
    width: 100%;

    > div {
      padding: 0.25rem;
      display: table-cell;
      color: white;
      background: black;
      vertical-align: top;
      font-weight: $fontWeightBold;

      &.gf_step_pending {
        background: $colorBackFormInput;
        color: $colorTextFormInput;
        color: #666;
      }
    }
  }

  .gf_step_clear {
    display: none !important;
  }

  span.gf_step_number {
    background: white;
    color: black;
    display: inline-block;
    width: 2rem;
    text-align: center;
    border-radius: 50%;
    line-height: 2;
  }


  // Sections
  .gsection {
    margin-top: 2rem;
  }

  .gsection_title {
    font-size: $fontSizeH2;
    padding: 0.6rem 0 0.2rem 0;
    border-top: 0.1rem solid $colorBorder;
  }

  // Set font for forms
  label,
  input,
  button,
  select,
  textarea,
  input,
  button,
  select,
  textarea {
    font-family: $fontFamilyBase; // And only set font-family here for those that need it (note the missing label element)
  }

  button, input[type="submit"] {
    float: none;
    display: block;
    margin: 1rem auto;
  }

}

// Datepicker styles outside DOM
select.ui-datepicker-month,
select.ui-datepicker-year {
  width: auto;
}

.ui-datepicker-calendar {
  th {
    width: 2.5rem;
    font-size: $fontSizeSmall;
  }

  td {
    padding: 0.25rem 0.1rem;
    width: 2.5rem;

    &.ui-state-disabled {
      color: #aaa;
    }
  }
}

// Fix for long radio button labels
.gfield_radio .gchoice {
  //margin-top: 0.5rem; // Use for long labels that wrap
  padding-left: 1.25rem;
  position: relative;

  input {
    position: absolute;
    left: 0;
    top: 0.5rem;
  }
}

// Read-only inputs reset
.gform_wrapper.gravity-theme input:read-only {
  background: transparent;
  padding: 0;
  font-size: $fontSizeP;
  color: $colorTextMain;
}

// Subfooter signup form
.signup {
  .content {
    justify-content: center;
    max-width: 60.75rem;
  }

  .gform_wrapper.gravity-theme {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    fieldset {
      margin: 0;
    }

    .gform_required_legend {
      display: none;
    }

    input {
      background: $colorTextReverse;
    }

    .gform_heading {
      width: 100%;
    }

    h2 {
      color: $colorTextHead;
      font-size: $fontSizeH5;
      text-align: center;
    }

    form {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;

      .gform_body {
        width: 100%;
      }

      .gform_footer {
        width: 100%;
      }

    }
  }
}


// Fancy radio buttons - Add classes to Product field: 'fancy_radio gf_list_inline'.
.gform_wrapper.gravity-theme {
  .fancy_radio .gfield_radio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      border: none;
    }

    label {
      flex: 1 1 0;
      width: 95px;
      margin: 0 auto;
      padding: 0.8rem 1rem;
      float: none;
      background: $colorBackFormInput;
      border: 1px solid $colorTextReverse;
      color: $colorTextMain;
      border-radius: 0.25rem;
      font-weight: $fontWeightNormal;
      display: block;
      cursor: pointer;
      line-height: 1;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-size: $fontSizeH6;
      transition: background-color $transitionSpeed, color $transitionSpeed;

      &:hover {
        background-color: $colorTextFormInput;
        border-color: $colorTextMain;
        color: $colorTextReverse;
      }
    }
  }

  .fancy_radio.gf_list_inline .ginput_container_radio .gchoice {
    margin: 0.25rem 0.5rem;
    padding: 0;
  }

  .fancy_radio .gfield_radio input[type="radio"]:checked + label {
    background-color: $colorTextFormInput;
    border-color: $colorTextMain;
    color: $colorTextReverse;
  }

  // Makes GF Stripe name input match credit card input
  .ginput_container_creditcard input {
    background: $colorTextReverse;
    border: 1px solid #bbb;
  }

  .disclaimer legend {
    font-size: 1rem;
    border: 1px solid #bbb;
    border-radius: 0.1rem;
    padding: 1rem;
  }

  .donate .gform_button {
    margin: 1rem auto;
  }

  .donate ul.gform_fields {
    margin-top: 0;
  }

  form.donate {
    &:before {
      content: '';
      width: 100%;
      height: 2px;
      display: block;
      clear: both;
      @include hr-fancy();
    }

    & {
      margin: 2rem auto;
    }

    button, input[type="submit"] {
      float: none;
      display: block;
      margin: 1rem auto;
    }
  }
}

