/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles gLightbox elements
 */

/*
 * Description for mobiles
 * something like facebook does the description
 * for the photos
*/
/*Skin */
/*CSS Animations*/
@-webkit-keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes gslideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }
  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes gslideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }
  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
}
@keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes gzoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}
@keyframes gzoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes gzoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
@keyframes gzoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.glightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999 !important;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
  .gcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
  }
  .gslider {
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .gslide {
    width: 100%;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
  }
  .gslide.current {
    opacity: 1;
    z-index: 99999;
    position: relative;
  }
  .gslide.prev {
    opacity: 1;
    z-index: 9999;
  }
  .gslide-inner-content {
    width: 100%;
  }
  .ginner-container {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    height: 100vh;
  }
  .ginner-container.gvideo-container {
    width: 100%;
  }
  .ginner-container.desc-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .ginner-container.desc-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .ginner-container.desc-left {
    max-width: 100% !important;
  }
  .ginner-container.desc-right {
    max-width: 100% !important;
  }
}
.glightbox-container.inactive {
  display: none;
}
.gslide {
  iframe {
    outline: none !important;
    border: none;
    min-height: 165px;
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: auto;
    touch-action: auto;
  }
  video {
    outline: none !important;
    border: none;
    min-height: 165px;
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: auto;
    touch-action: auto;
  }
  &:not(.current) {
    pointer-events: none;
  }
}
.gslide-image {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  img {
    max-height: 100vh;
    display: block;
    padding: 0;
    float: none;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 100vw;
    width: auto;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-touch-action: none;
    touch-action: none;
    margin: auto;
    min-width: 200px;
  }
  img.zoomable {
    position: relative;
  }
  img.dragging {
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
    -webkit-transition: none;
    transition: none;
  }
}
.desc-top {
  .gslide-image {
    img {
      width: auto;
    }
  }
  .gslide-media {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.desc-bottom {
  .gslide-image {
    img {
      width: auto;
    }
  }
  .gslide-media {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.desc-left {
  .gslide-image {
    img {
      width: auto;
      max-width: 100%;
    }
  }
}
.desc-right {
  .gslide-image {
    img {
      width: auto;
      max-width: 100%;
    }
  }
}
.gslide-video {
  position: relative;
  max-width: 100vh;
  width: 100% !important;
  .plyr__poster-enabled.plyr--loading {
    .plyr__poster {
      display: none;
    }
  }
  .gvideo-wrapper {
    width: 100%;
    margin: auto;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.34);
    display: none;
  }
}
.gslide-video.playing {
  &::before {
    display: none;
  }
}
.gslide-video.fullscreen {
  max-width: 100% !important;
  min-width: 100%;
  height: 75vh;
  video {
    max-width: 100% !important;
    width: 100% !important;
  }
}
.gslide-inline {
  background: #fff;
  text-align: left;
  max-height: calc(100vh - 40px);
  overflow: auto;
  max-width: 100%;
  margin: auto;
  .ginlined-content {
    padding: 20px;
    width: 100%;
  }
  .dragging {
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
    -webkit-transition: none;
    transition: none;
  }
}
.ginlined-content {
  overflow: auto;
  display: block !important;
  opacity: 1;
}
.gslide-external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 100%;
  background: #fff;
  padding: 0;
  overflow: auto;
  max-height: 75vh;
  height: 100%;
}
.gslide-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.zoomed {
  .gslide-media {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .gslide-description {
    display: none;
  }
}
.gslide-description {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  p {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.gslide-description.description-left {
  max-width: 100%;
}
.gslide-description.description-right {
  max-width: 100%;
}
.gslide-description.description-bottom {
  margin: 0 auto;
  width: 100%;
}
.gslide-description.description-top {
  margin: 0 auto;
  width: 100%;
}
.glightbox-button-hidden {
  display: none;
}
.glightbox-mobile {
  .glightbox-container {
    .gslide-description {
      height: auto !important;
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 19px 11px;
      max-width: 100vw !important;
      -webkit-box-ordinal-group: 3 !important;
      -ms-flex-order: 2 !important;
      order: 2 !important;
      max-height: 78vh;
      overflow: auto !important;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.75)));
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
      -webkit-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      padding-bottom: 50px;
    }
    .gslide-title {
      color: #fff;
      font-size: 1em;
    }
    .gslide-desc {
      color: #a1a1a1;
      a {
        color: #fff;
        font-weight: bold;
      }
      * {
        color: inherit;
      }
      .desc-more {
        color: #fff;
        opacity: 0.4;
      }
    }
  }
  .goverlay {
    background: #000;
  }
}
.gdesc-open {
  .gslide-media {
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0.4;
  }
  .gdesc-inner {
    padding-bottom: 30px;
  }
}
.gdesc-closed {
  .gslide-media {
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 1;
  }
}
.greset {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gabsolute {
  position: absolute;
}
.grelative {
  position: relative;
}
.glightbox-desc {
  display: none !important;
}
.glightbox-open {
  overflow: hidden;
}
.gloader {
  height: 25px;
  width: 25px;
  -webkit-animation: lightboxLoader 0.8s infinite linear;
  animation: lightboxLoader 0.8s infinite linear;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  display: block;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 47%;
}
.goverlay {
  width: 100%;
  height: calc(100vh + 1px);
  position: fixed;
  top: -1px;
  left: 0;
  background: #000;
  will-change: opacity;
}
.gprev {
  z-index: 99999;
  cursor: pointer;
  width: 26px;
  height: 44px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  svg {
    display: block;
    width: 25px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .garrow {
    stroke: #fff;
  }
}
.gnext {
  z-index: 99999;
  cursor: pointer;
  width: 26px;
  height: 44px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  svg {
    display: block;
    width: 25px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .garrow {
    stroke: #fff;
  }
}
.gclose {
  z-index: 99999;
  cursor: pointer;
  width: 26px;
  height: 44px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  svg {
    display: block;
    width: 25px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .garrow {
    stroke: #fff;
  }
}
.gprev.disabled {
  opacity: 0.1;
}
.gnext.disabled {
  opacity: 0.1;
}
.gclose.disabled {
  opacity: 0.1;
}
.gbtn.focused {
  outline: 2px solid #0f3d81;
}
iframe.wait-autoplay {
  opacity: 0;
}
.glightbox-closing {
  .gnext {
    opacity: 0 !important;
  }
  .gprev {
    opacity: 0 !important;
  }
  .gclose {
    opacity: 0 !important;
  }
}
.glightbox-clean {
  .gslide-description {
    background: #fff;
  }
  .gdesc-inner {
    padding: 1rem;
  }
  .gslide-title {
    font-size: 1em;
    font-weight: normal;
    color: #000;
    margin-bottom: 19px;
    line-height: 1.4em;
  }
  .gslide-desc {
    font-size: 1.125rem;
    margin-bottom: 0;
    line-height: 1.3rem;
    text-align: center;
  }
  .gslide-video {
    background: #000;
  }
  .gprev {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    position: absolute;
    top: -100%;
    left: 30px;
    width: 40px;
    height: 50px;
    path {
      fill: #fff;
    }
  }
  .gnext {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    position: absolute;
    top: -100%;
    right: 30px;
    width: 40px;
    height: 50px;
    path {
      fill: #fff;
    }
  }
  .gclose {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    width: 35px;
    height: 35px;
    top: 15px;
    right: 10px;
    position: absolute;
    path {
      fill: #fff;
    }
    svg {
      width: 18px;
      height: auto;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.gfadeIn {
  -webkit-animation: gfadeIn 0.5s ease;
  animation: gfadeIn 0.5s ease;
}
.gfadeOut {
  -webkit-animation: gfadeOut 0.5s ease;
  animation: gfadeOut 0.5s ease;
}
.gslideOutLeft {
  -webkit-animation: gslideOutLeft 0.3s ease;
  animation: gslideOutLeft 0.3s ease;
}
.gslideInLeft {
  -webkit-animation: gslideInLeft 0.3s ease;
  animation: gslideInLeft 0.3s ease;
}
.gslideOutRight {
  -webkit-animation: gslideOutRight 0.3s ease;
  animation: gslideOutRight 0.3s ease;
}
.gslideInRight {
  -webkit-animation: gslideInRight 0.3s ease;
  animation: gslideInRight 0.3s ease;
}
.gzoomIn {
  -webkit-animation: gzoomIn 0.5s ease;
  animation: gzoomIn 0.5s ease;
}
.gzoomOut {
  -webkit-animation: gzoomOut 0.5s ease;
  animation: gzoomOut 0.5s ease;
}
@media (min-width: 769px) {
  .glightbox-container {
    .ginner-container {
      width: auto;
      height: auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .ginner-container.desc-top {
      .gslide-description {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
      }
      .gslide-image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        img {
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1;
        }
      }
    }
    .ginner-container.desc-left {
      .gslide-description {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
      }
      .gslide-image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
      }
    }
  }
  .gslide-image {
    img {
      max-height: 97vh;
      max-width: 100%;
    }
    img.zoomable {
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
    }
  }
  .zoomed {
    .gslide-image {
      img.zoomable {
        cursor: -webkit-grab;
        cursor: grab;
      }
    }
  }
  .gslide-inline {
    max-height: 95vh;
  }
  .gslide-external {
    max-height: 100vh;
  }
  .gslide-description.description-left {
    max-width: 275px;
  }
  .gslide-description.description-right {
    max-width: 275px;
  }
  .glightbox-open {
    height: auto;
  }
  .goverlay {
    background: rgba(0, 0, 0, 0.92);
  }
  .glightbox-clean {
    .gslide-media {
      -webkit-box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.65);
      box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.65);
    }
    .description-left {
      .gdesc-inner {
        position: absolute;
        height: 100%;
        overflow-y: auto;
      }
    }
    .description-right {
      .gdesc-inner {
        position: absolute;
        height: 100%;
        overflow-y: auto;
      }
    }
    .gprev {
      background-color: rgba(0, 0, 0, 0.32);
      top: 45%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
    .gnext {
      background-color: rgba(0, 0, 0, 0.32);
      top: 45%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
    .gclose {
      background-color: rgba(0, 0, 0, 0.32);
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
@media (min-width: 992px) {
  .glightbox-clean {
    .gclose {
      opacity: 0.7;
      right: 20px;
    }
  }
}
@media screen and (max-height: 420px) {
  .goverlay {
    background: #000;
  }
}