/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles embedded Google Maps
 */

// Manually embedded Google Map
.google-map {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio - adjust per breakpoint
  height: 0;
  overflow: hidden;
}

.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

// Google Map ACF Field
.acf-map {
  width: 100%;
  height: 300px;
  border: solid 0.1rem $colorBorder;
  margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}