/* offside-js 1.4.0 26-03-2018
* Minimal JavaScript kit without library dependencies to push things off-canvas using just class manipulation
* https://github.com/toomuchdesign/offside.git
*
* by Andrea Carraro
* Available under the MIT license
*/

$offSetWidth: 220px;

@media only screen and (max-width: 971px) {
  .offside {
    position: fixed;
    display: flex;
    width: 220px;
    height: 100%;
    top: 0;
    z-index: 9999;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    left: -$offSetWidth;
  }
  .offside--left {
    left: -$offSetWidth;
  }
  .offside--right {
    left: auto;
    right: -$offSetWidth;
  }
  .offside--left.is-open {
    transform: translate3d($offSetWidth, 0, 0);
  }
  .offside-js--is-left {
    .offside-sliding-element {
      transform: translate3d($offSetWidth, 0, 0);
    }
  }
  .offside--right.is-open {
    transform: translate3d(-$offSetWidth, 0, 0);
  }
  .offside-js--is-right {
    .offside-sliding-element {
      transform: translate3d(-$offSetWidth, 0, 0);
    }
  }
  .offside-js--interact {
    .offside {
      transition: transform .2s cubic-bezier(.16, .68, .43, .99);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
    }

    .offside-sliding-element {
      transition: transform .2s cubic-bezier(.16, .68, .43, .99);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
    }
  }
  .offside-js--init {
    overflow-x: hidden;
  }
  .no-csstransforms3d {
    .offside {
      transform: translate3d(0, 0, 0);
    }

    .offside-sliding-element {
      overflow-x: hidden;
      position: relative;
    }

    .offside--left.is-open {
      left: 0;
    }

    .offside--right.is-open {
      right: 0;
    }

    > .offside-js--is-left {
      .offside-sliding-element {
        right: -$offSetWidth;
      }
    }

    > .offside-js--is-right {
      .offside-sliding-element {
        left: -$offSetWidth;
      }
    }
  }
}
