/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles recent posts widget
 */

#secondary {
  #recent-posts ul {
    list-style: none;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 1;
      &:before {
        background: transparent;
      }
      time {
        font-style: $fontStyleItalic;
        font-size: 1rem;
        display: block;
        color: $colorTextMeta;
        text-align: right;
      }
      a {
        text-decoration: none;
        font-size: 1.125rem;
        color: $colorTextMain;
        padding: 0.4rem 1rem 0.4rem 1rem;
        margin: 0.4rem 0 0.4rem -17px;
        display: block;
        line-height: 1.2;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background: transparent;
        cursor: pointer;
        transition: color $transitionSpeed ease-in-out, background $transitionSpeed ease-in-out;
        &:hover {
          color: $colorTextMain;
          background: $colorBackMain;
        }
      }
      &.current-menu-item a {
        color: $colorTextMain;
        background: $colorBackMain;
        font-weight: $fontWeightNormal;
        &:hover {
          color: $colorTextMain;
          background: $colorBackSidebar;
          cursor: pointer;
        }
      }
    }
  }
}