/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles scroll-to-top arrow
 */

a#scroll-to-top {
  z-index: 9000;
  position: fixed;
  // right: 50%;
  width: 56px;
  height: 56px;
  right: 1.5%;
  bottom: 1.5%;
  cursor: pointer;
  outline: 0;
  background: $colorTextLink;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: $transitionSpeed background ease, $transitionSpeed opacity linear;
  opacity: 0;
  &:before {
    content: '';
    background: url('#{$image-url}/chevron-up.svg') no-repeat;
    display: block;
    width: 36px;
    height: 36px;
    margin: 12% auto;
  }
  &:hover {
    background: $colorTextLinkHover;
  }
  span {
    @include hide-text();
    font-size: 0;
    display: inline-block;
  }
  &[data-scroll='out'] {
    opacity: 0;
  }
  &[data-scroll='in'] {
    opacity: 0.9;
  }
}