/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles event calendar components
 */

.post-type-archive-tribe_events {
  article {
    max-width: unset;
  }

  .tribe-events {
    li:before {
      display: none;
    }

    .datepicker th {
      background: transparent;
    }
  }
}

.tribe-events * {
  font-family: $fontFamilyBase !important;
}

.tribe-common {
  .tribe-common-c-btn,
  a.tribe-common-c-btn {
    @include button();
  }
}