/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles table of contents
 */

#toc_container {
  float: right;
  margin: 1rem 0 1rem 2rem;
  background: #efefef;
  box-shadow: 0.2rem 0.2rem 0.3rem $colorShadow;
  border: 0.1rem solid $colorBorder;
  border-radius: 0.5rem;
  li {
    margin: 0.8rem 0;
    a[ href="#share-this" ] {
      display: none;
    }
  }
}