/**
 * Theme Name: Raven's Egg 2024
 * Author: Chad Bush
 * Description: Styles WooCommerce elements
 */

// Space under single product title
.woocommerce div.product .product_title {
  margin-bottom: 1rem;
}

//Removes bullets on payment and shipping methods.
.entry-content .products li,
.entry-content .products li li,
ul.wc_payment_methods li,
ul.wc_payment_methods li li,
ul.woocommerce-shipping-methods li,
ul.woocommerce-shipping-methods li li,
ul.woocommerce-order-overview li,
ul.woocommerce-order-overview li li,
ul.products li,
ul.woocommerce-error li,
.entry-content li.woocommerce-PaymentMethod {
  list-style: none;
  background: transparent;

  &:before {
    content: none;
    background: transparent;
  }
}

// Removes bullets from WC tabs.
ul.wc-tabs li {
  list-style: none;
  background: transparent;

  &::before {
    display: none;
  }
}

// Removes text decoration from tab links.
article {
  .tabs a,
  .stars a,
  .product-thumbnail a,
  .about_paypal,
  .woocommerce-pagination a {
    border-bottom: none;
    text-decoration: none;
  }
}

// Overrides button arrow add on WC gallery lightbox links.
.pswp {
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  a.button,
  a.button:visited,
  p a.button {
    &:after {
      content: none;
    }
  }
}

// Overrides default WC button link colors.
.woocommerce a.button,
.woocommerce a.button:visited,
.woocommerce a.button.alt {
  @include button();
  margin: 0;
}

// Overrides default WC button element colors.
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce button.button.alt.disabled,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce input.button,
.woocommerce input.button.alt {
  @include button-input();
  margin: 0;
}

// My account sections
section.woocommerce-customer-details,
section.woocommerce-order-details {
  margin: 1rem auto;
  width: auto;
}

// Adjusts padding on WC buttons where larger padding looks bad next to other WC layout elements.
.woocommerce .actions button.button,
.woocommerce .actions button.button:disabled,
.checkout_coupon button.button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin: 0;
}

// Adjusts quantity input field padding to look better next to button beside it.
.woocommerce .quantity .qty {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0 0.5rem;
}

// Adjusts font sizes of various WC elements.
.woocommerce ul.products li.product .price {
  font-size: $fontSizeH6;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-size: $fontSizeH5;
}

.woocommerce #reviews #comments h2 {
  font-size: $fontSizeH4;
  margin-bottom: 1rem;
}

.woocommerce .actions button.button,
.woocommerce .actions button.button:disabled {
  padding: 0.5rem 1.5rem;
}

// Forces product index pages to display only one column wide on screens narrower than 481px.
@media screen and (max-width: 481px) {
  .woocommerce ul.products[class*=columns-] li.product,
  .woocommerce-page ul.products[class*=columns-] li.product {
    width: 100%;
  }
}

// Hides product meta
//.product_meta {
//  display: none;
//}

.product_meta {
  span.sku_wrapper,
  span.posted_in {
    display: block;
  }
}

// Remove theme th style from additional info and variations
.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
  background: transparent;
  color: $colorTextMain;
  line-height: 1.25rem;
}

.related.products h2 {
  margin-bottom: 1rem;
}


/* WooCommerce 3.0 Gallery */

// Photoswipe z-index defaults revised for theme compatibility.
.pswp {
  z-index: 5600;
}

.pswp__share-modal {
  z-index: 5700;
}

.pswp__share-tooltip {
  z-index: 5720;
}

.pswp__ui {
  z-index: 5650;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  width: 3rem;
  height: 3rem;
  z-index: 4900;
  background: transparent;
  border: none;

  &::before {
    content: '';
    background: #fff url('#{$image-url}icon-zoom.svg') center center no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    transition: $transitionSpeed transform;
  }

  &:hover::before {
    transform: rotate(90deg);
  }

  &::after {
    display: none;
  }
}

.woocommerce div.product div.images .flex-control-thumbs li {
  margin: 0.25rem 0.25rem 0 0;
  width: 15%;
}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
  clear: none;
}

span.onsale {
  z-index: 600;
}

.sold-out {
  display: block;
  padding: 0.4rem 0.8rem;
  text-align: center;
  background: rgba($colorTextMain, 0.9);
  color: $colorTextReverse;
  font-weight: $fontWeightBold;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  font-size: 1rem;
}

.woocommerce div.product p.stock {
  font-size: $fontSizeH5;
  color: $colorTextHighlight;
}

.woocommerce table.shop_attributes {
  th,
  td {
    padding: $tableCellPadding;
  }
}

.woocommerce .woocommerce-breadcrumb {
  margin: 0 0 1.5rem;
}

// Custom backorder text mods.
// .woocommerce div.product p.stock.available-on-backorder,
// .woocommerce td.product-name p.backorder_notification {
//   color: $colorTextHighlight;
//   font-size: $fontSizeH5;
// }

// .backorder_notification {
//   display: none;
// }

// .backorder_notification.custom {
//   display: block;
// }

// Store cards for custom search results page.
//.store-cards {
//  width: 100%;
//  padding: 1rem 0;
//  max-width: 77.5rem;
//  margin: 0 auto;
//  @include clearfix();
//
//  .store-card {
//    position: relative;
//    display: block;
//    margin: 0 0.5rem 1rem;
//    background: $colorBackCaption;
//    padding: 0;
//
//    > a {
//      display: block;
//    }
//
//    figure {
//      margin: 0;
//      text-align: center;
//      overflow: hidden;
//    }
//
//    img {
//      width: 100%;
//      margin: 0;
//      transition: $transitionSpeed transform ease-in-out;
//      position: relative;
//      z-index: 100;
//    }
//
//    &:hover {
//      img {
//        filter: grayscale(90%);
//        transform: scale(1.03);
//      }
//    }
//  }
//
//  .post-header {
//    padding-bottom: 0;
//    margin-bottom: 0;
//  }
//
//  .post {
//    padding-top: 0;
//  }
//
//  article {
//    width: auto;
//    max-width: none;
//  }
//
//  .post-header a {
//    display: inline-block;
//    border: none;
//    padding-bottom: 0.3rem;
//  }
//
//  h2.post-title {
//    font-size: $fontSizeH6;
//    margin-top: 0.5rem;
//    text-align: center;
//  }
//}